<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="line-height: 1.2">Introduction to Databases: <br>Relational, Query and Web Application</h1>

In [1]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017

'Connected: dbuser@lahman2017'

## Questions or Comments?

## Overview

- Lecture 1 mentioned that we will build the core elements of four applications to understand the practical applications of DBs
    1. Interactive, transactional web application.
    2. Data analysis, analytics and decision support.
    3. Machine learning.
    4. (Social) graph analysis.
    

- All application domains are very complex and complete applications are large and require mastering many concepts other than databases. So, the apps will be simplistic and what we do will focus on the database usage.


- Lecture 3 covers the following topics:
    1. Quick overview of various types of database applications.
    1. Structure of an interactive, web application.
    1. Application architecture and sample code:
        1. Database layer:
            1. Data modeling.
            1. Representative State Transfer (REST) and access to data.
            1. REST and data.
            1. Data access patterns.
        1. Business logic layer.
        1. UI
    1. Sample, cr\*ppy implementation.
    1. Indexes and keys:
        1. Relational theory.
        1. SQL realization.
        1. Web application $-$ motivating user stories.
        1. Keys for web application.

## Different Types of Database Applications/Systems

### The Big Picture

- There are several (too many) ways to classify applications and scenarios that use databases. Some examples
 

- One classification approach:
    - <span style="color: red;"> _Real-time (online) systems,_ where you submit requests to do a small amount of work that has to be done before some very early deadline, or interactively why the user waits.</span>
    - _Batch processing systems,_ where you submit a a bunch of files, a "job" containing multiple subprograms, and later receive output in the form of a file.
    - _Data warehouse systems,_ where reporting programs and ad hoc queries access data that is integrated from multiple data sources.
    

- Real-time (online) system:
    - Most familiar is interactive web applications, e.g. CourseWorks, online banking.
    - Other examples: ATMs, airline check-in kiosks and boarding pass readers, ...

<br><br>

| <img src="../images/simple_aws_web_app.jpeg" width="75%"> |
| :---: |
| Web Application Architecture |
 
<br><br>


- Big data/Batch processing:
    - These applications are usually in the backend and not directly seen by users.
    - The applications process and produce information used by other applications.
    - Examples: recommendation engines for commerce web sites, Google Analytics.

<br><br>

| <img src="../images/google_analytics.jpeg"> |
| :---: |
| Google Analytics |

<br><br>
    
| <img src="../images/batch_1.jpeg"> |
| :---: |
| [Batch Processing](https://www.datasciencecentral.com/profiles/blogs/batch-vs-real-time-data-processing) |

- Each stage in batch processing is multiple, smaller jobs/applications that have to run in specific orders.


- [MapReduce](https://en.wikipedia.org/wiki/MapReduce) and [Hadoop](https://en.wikipedia.org/wiki/Apache_Hadoop) are modern approaches to batch processing.


- I am going to try to find a way to do a little of this, but setting up all of the SW is complex.


| <img src="../images/map_reduce_1.jpeg"> |
| :---: |
| __Map-Reduce__ |

- Data Warehouse Database:
    - Operational databases create-retrieve-update-delete data during on-line processing.
    - Data Warehouse is a transformed copy of the data for more complex, read only queries and reports.
    - We will do OLAP and analysis in the course, but on a small scale. The scenarios assume that ETL has already loaded the simple warehouse.
    
| <img src="../images/data_warehouse_architecture.jpg"> |
| :---: |
| __Data Warehouse__ |

### Other Classifications and Models

- Another classification approach is to think of the _functions_ the databases support.


- A data processing system may involve some combination of the following functions
    - Conversion - converting data to another format.
    - Validation – Ensuring that supplied data is "clean, correct and useful."
    - Sorting – "arranging items in some sequence and/or in different sets."
    - Summarization – reducing detail data to its main points.
    - Aggregation – combining multiple pieces of data.
    - Analysis – the "collection, organization, analysis, interpretation and presentation of data.".
    - Reporting – list detail or summary data or computed information.
    
    
- Both SQL/online and batch/MaoReduce/Hadoop have operators/steps implementing the functions. For example,
    - Summarization can be a Reducer in MapReduce and a GROUP BY operator in RDBs
    - Many batch systems use SQL and extensions as the language for programming mappers, shufflers, reducers, etc.

- A third classification approach
    - <span style="color: red;">Operational Database:</span> SSOL, CourseWorks, etc. are examples.
    - <span style="color: red;">External Database:</span> On-line banking, IMDB, etc. are examples.
    - End User Database: The local caches of data for mobile applications are an example.
    - Distributed Database
    - Data Warehouse Database:
        - Operational databases create-retrieve-update-delete data during on-line processing.
        - Data Warehouse is a transformed copy of the data for more complex, read only queries and reports.
    - Analytical Database
    - Hypermedia Database: Database for storing, retrieving, categorizing, searching, etc. linked, unstructured content like documents, images, recording, etc. You can consider the web itself to be a Hypermedia Database.

## Our Application $-$ Reminder and Preview

### Application Overview and User Experience

#### Application Functionality

- We have data on Major League Baseball teams and players.


- We want to allow users to:
    - Find, query and display information.
    - Update information.


- Our design methodology is "Data Out."
    - We start with the data and datamodel.
    - Based on our understanding of the application objectives, how do we need to structure the data and what operations do we need to support?


#### User Experience

- In large projects, there are several teams.
    - The data layer team is usually different from UI team.
    - I want to give you a preview of what the UI/UX might look like.
<br><br>

| <img src="../images/lahman_web_page1.jpeg"> |
| :---: |
| __Example User Interface (1)__ |

| <img src="../images/lahman_web_page2.jpeg"> |
| :---: |
| __Example User Interface (2)__ |

| <img src="../images/lahman_web_page3.jpeg"> |
| :---: |
| __Example User Interface (3)__ |


- The UI task is to design and implement a baseball dashboard with three UI controls: 
    - Select the resource(s) to query or update (Players, Batting, Appearances)
    - Find an instance of the resource if you know the identifying fields.
    - Create an _ad hoc_ query to locate resource instances based on columns and values. Choose which columns you want in responses.
    
    
- Second phase will add support for create, update and delete.
    

- From [Techopedia](https://www.techopedia.com/definition/30581/ad-hoc-query-sql-programming): "As the word 'ad hoc' suggests, this type of query is designed for a 'particular purpose,' which is in contrast to a predefined query ... An ad hoc query does not reside in the system for a long time and is created dynamically on demand by the user."
    - You can write a program or function for a predefined query, e.g. ```findByLastName(ln).``` The set of functions you write implements the predefined queries.
    - _Ad hoc_ allows the user to enter arbitrary queries you did no anticipate.
    
    
- But again, we will start with the data layer.

<br><br><br><br>
__<span style="color:red;">Demo</span>__
<br><br><br><br>

#### Application Tiers/Layers

| <img src="../images/webapp.jpeg"> |
| :---: |
| __Application Structure__ |

##### UI Layer

- There are design patterns or best practices for designing user interfaces:
    - [Model-View-Controller](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller)
    - [Model-View-Viewmodel](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93viewmodel)
    

- The _Model_ is the data and operations on the data, and is independent of the UI specifics.


- The _View_ is the visual representation, display and interaction between the user and the application.


- The _Controller_ or _Viewmodel_ is the code that binds the View to the Model.

##### Business/Application Layer

"Application Tier: Also called the middle tier, logic tier, business logic or logic tier, this tier is pulled from the presentation tier. It controls application functionality by performing detailed processing." (https://www.techopedia.com/definition/24649/three-tier-architecture).


- The definition is a little vague. Consider the business logic of a transfer between two accounts. The application can process a transfer if:
    - Both accounts exist.
    - The transfer amount is ```> 0``` and less than the bank's transfer limit.
    - The remaining balance in the source account is
        - ```>= (0 - over_draft_limit)``` if the source is a checking account.
        - ```>= minimum_balance``` if the source is a savings account.
    - ```over_draft_limit``` and ```minimum_balance``` may depend on information about the customer, country, etc.
    
    
- This application logic applies independently of
    - The UI (web app, mobile device, ATM, ...)
    - The data storage and data format.
    
    
##### Data Tier/Layer

- The data tier is:
    - The database systems the manage the data.
    - A programming abstraction/API that the business logic uses to access the data.
    
    
- The data tier isolates the application logic from the details in and changes of the underlying data tier.


##### Separation of Concerns

"In computer science, separation of concerns (SoC) is a design principle for separating a computer program into distinct sections, such that each section addresses a separate concern. ...

Layered designs in information systems are another embodiment of separation of concerns (e.g., presentation layer, business logic layer, data access layer, persistence layer). 

The value of separation of concerns is simplifying development and maintenance of computer programs. When concerns are well-separated, individual sections can be reused, as well as developed and updated independently. Of special value is the ability to later improve or modify one section of code without having to know the details of other sections, and without having to make corresponding changes to those sections." (https://en.wikipedia.org/wiki/Separation_of_concerns)

## Data Layer

### Function Overview

- From the demo, we have seen that the data layer needs to support the following operations:
    1. find_people_by_id()
    1. find_people_by_name()
    1. find_people_by_query()
    1. find_batting_by_people_id()
    1. list_field_names(): This is how you know which fields to display on the search form.
    
    
- These map to the functions you are implementing for (or will add to)  CSVDataTable and RDBDataTable.


- We are going to walk through a simple approach to implementing the capabilities.

### An Interlude $-$ Data Modeling

#### Overview

"_Data modeling_ in software engineering is the process of creating a data model for an information system by applying certain formal techniques."(https://en.wikipedia.org/wiki/Data_modeling)

Reference: Ramakrishnan and Gehrke, section 2.1, 2.2, 2.3

There are six steps in data modeling and database design
1. Requirements Analysis
2. Conceptual Design
3. Logical Design
4. Schema Refinement
5. Physical Design
5. Application, Security and Infrastructure Design

Most of what we do in this course will be (2), (3), (4) and (5).

#### Entity-Relationship Modeling

"An entity–relationship model (ER model) describes inter-related things of interest in a specific domain of knowledge. An ER model is composed of entity types (which classify the things of interest) and specifies relationships that can exist between instances of those entity types." (https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model)

"The ER model defines the conceptual view of a database. It works around real-world entities and the associations among them. At view level, the ER model is considered a good option for designing databases." (https://www.tutorialspoint.com/dbms/er_model_basic_concepts.htm)

<img src="../images/simpledb.jpg" width="50%">

- Entity – Data about a “Thing,” e.g.
    - Person
    - Web click
    - Product
- Attributes (Fields, Properties) – The data describing, defining an entity. Often named and typed, e.g.
    - (Height, Integer)
    - (Last name, String)
- Set/Collection/Table
    - A group of things.
    - Usually the same ”kind of entity”
- Relationships/Associations – Links between entities, which convey sematic information, e.g.
    - Don IsA Professor
    - Don Teaches {COMS4111, COMSE6998)
    
#### Conceptual, Logical, Physical Model
<br><br>
<img src="../images/conceptuallogicalphysical.jpeg" width="90%">


- From the Master, Appearances and Batting files, we have part of a _logical data model_:
    - Entity names
    - Attributes
    - Can infer:
        - Relationships.
        - Primary keys.
        - Foreign keys.
        
        
- We will flesh out other aspects as we proceed.


- But, since we imported the CSV files, we created a physical model. We will build out from the existing data model.

#### Two Approaches to Application Design

| <img src="../images/appdesignmodels.jpeg"> |
| :---: |
| __Application Design Methods__ |

### Physical Data Model

- We will write a data access layer to CREATE-RETRIEVE-UPDATE-DELETE data from relational tables.


- __NOTE:__ The implementation in this lecture is going to be a sloppy hack. If I gave good code, I would be giving away the answer to part of HW1.


| <img src="../images/lahman2017-1.jpeg"> |
| :---: |
| __Reminder: Data Model__ |

### REST API to Data

#### Overview

| <img src="../images/webapp-rest.jpg"> |
| :---: |
| __REST API__ |

| <img src="../images/rest-1.jpeg"> |
| :---: |
| [REST API](https://docs.microsoft.com/en-us/azure/architecture/best-practices/api-design) |

#### Step 1: First URLs

- To get started with the concept, we will support the following resources:
    - /people/id: Get information about a person if you know the ID.
    - /people/id/batting: Get the batting information about the person if you know the ID.
    
    
- We will use [Flask](http://flask.pocoo.org/) to build the web/REST part of the application for our Python code.


| <img src="../images/flask.jpeg"> |
| :---: |
| [Flask](http://www.patricksoftwareblog.com/category/flask-tutorial/) |

- GET /people/willite01

| <img src="../images/postman-1.jpeg"> |
| :---: |
| __GET /people/willite01__ |


- GET /people/willite01/batting

| <img src="../images/postman-2.jpeg"> |
| :---: |
| __GET /people/willite01/batting__ |

- Demo

- The code: Two Python files
    - lahman.py: The main program that Flask executes.
    - people.py: The code that retrieves data from the tables.
    
    
__Note:__ I am keeping all of the code for this hacked project in https://github.com/donald-f-ferguson/W4111-f18/tree/master/Projects/Lahman2. 
    
    
    
- lahman.py: See https://github.com/donald-f-ferguson/W4111-f18/blob/master/Projects/Lahman2/Lahman.py

- people.py: See https://github.com/donald-f-ferguson/W4111-f18/blob/master/Projects/Lahman2/api/people.py

#### Simple Queries

- A little more advanced: simple queries.


- Uses URL query strings and a convention/pattern to specify fields.


- /people?nameLast=Williams&throws=l&fields=nameLast,nameFirst,birthYear


- [Query String:](https://en.wikipedia.org/wiki/Query_string) 

"On the World Wide Web, a query string is the part of a uniform resource locator (URL) containing data that does not fit conveniently into a hierarchical path structure. The query string commonly includes fields added to a base URL by a Web browser or other client application, for example as part of an HTML form.

... ...

Typical URL containing a query string is as follows:

```http://example.com/over/there?name=ferret```

When a server receives a request for such a page, it may run a program, passing the query string, which in this case is, name=ferret unchanged, to the program. The question mark is used as a separator, and is not part of the query string.

Web frameworks may provide methods for parsing multiple parameters in the query string, separated by some delimiter.  In the example URL below, multiple query parameters are separated by the ampersand, "&":

```http://example.com/path/to/page?name=ferret&color=purple```"

| <img src="../images/postman-3.jpeg"> |
| :---: |
| __Query Strings__ |

- Demo

#### REST API to Metadata

- ```GET /people``` supports query strings. How does the caller the resources fields?


- We can implement ```GET /people/metadata``` as long as no person has the last name ```metadata.```


- The path calls a DDL statement ```SHOW FIELDS FROM people```


- The syntax is

```
SHOW [EXTENDED] [FULL] {COLUMNS | FIELDS}
    {FROM | IN} tbl_name
    [{FROM | IN} db_name]
    [LIKE 'pattern' | WHERE expr]
```

- We will cover the details of and use the DDL capability later.


- Add the following route handler to ```Lahman.py```

In [ ]:
# Retrieve metadata about people.
@app.route('/people/metadata')
def people_fields():
    result = people.retrieve_metadata("people")
    result = json.dumps(result)
    return result, 200, {'Content-Type': 'application/json; charset=utf-8'}

- Add the following function to ```people.py```

In [ ]:
# Get metadata to help populate search and data entry forms.
def retrieve_metadata(table):
    cursor = cnx.cursor()
    q = "SHOW FIELDS FROM " + table + ";"
    print("Query = ", q)
    cursor.execute(q)
    r = cursor.fetchall()
    return r

#### Comments and Status

##### Software Design Patterns and Anti-Patterns

- We have built a simple REST API that provides access to information in a relational database.


- There are several __anti-patterns__ that the current implement surfaces.


- What is an anti-pattern? Well, understanding a __software design pattern__ is necessary to understand the opposite.

"In software engineering, a software design pattern is a general, reusable solution to a commonly occurring problem within a given context in software design. It is not a finished design that can be transformed directly into source or machine code. It is a description or template for how to solve a problem that can be used in many different situations. Design patterns are formalized best practices that the programmer can use to solve common problems when designing an application or system." (https://en.wikipedia.org/wiki/Software_design_pattern)

- And an anti-pattern?

"An anti-pattern is a common response to a recurring problem that is usually ineffective and risks being highly counterproductive.

... ...

According to the authors of Design Patterns, there must be at least two key elements present to formally distinguish an actual anti-pattern from a simple bad habit, bad practice, or bad idea:
1. A commonly used process, structure, or pattern of action that despite initially appearing to be an appropriate and effective response to a problem, has more bad consequences than good ones.
1. Another solution exists that is documented, repeatable, and proven to be effective." (https://en.wikipedia.org/wiki/Anti-pattern)


- This is not a software engineering course, but I do want to highlight some of the anti-patterns.

##### SQL Injection

"SQL injection is a code injection technique, used to attack data-driven applications, in which nefarious SQL statements are inserted into an entry field for execution (e.g. to dump the database contents to the attacker).[1] SQL injection must exploit a security vulnerability in an application's software, for example, when user input is either incorrectly filtered for string literal escape characters embedded in SQL statements or user input is not strongly typed and unexpectedly executed. SQL injection is mostly known as an attack vector for websites but can be used to attack any type of SQL database." (https://en.wikipedia.org/wiki/SQL_injection)

"Yahoo! Voices, formerly Associated Content, was hacked in July 2012. The hack is supposed to have leaked approximately half a million email addresses and passwords associated with Yahoo! Contributor Network. The suspected hacker group, D33ds, used a method of SQL Injection to penetrate Yahoo! Voice servers. Security experts said that the passwords were not encrypted and the website did not use a HTTPS Protocol, which was one of the major reasons of the data breach.The email addresses and passwords are still available to download in a plaintext file on the hacker's website." (https://en.wikipedia.org/wiki/2012_Yahoo!_Voices_hack)

Really?
- Did not use HTTPS?
- Unencrypted passwords?
- SQL Injection?
<br><br>

| <img src="../images/epic_fail.jpg"> |
| :---: |
| __Epic Failure. When regular is just not enough.__

"On March 27, 2011, mysql.com, the official homepage for MySQL, was compromised by a hacker using SQL blind injection." (https://en.wikipedia.org/wiki/SQL_injection#Examples)

- The MySQL site had a SQL injection attack? That is kind of ironic.

| <img src="../images/irony_fail.jpeg"> |
| :---: |
| __Irony Fail__

- In our application, I may decide that I only want to allow ```GET /people/<player_id>``` and the caller must know the player_id.


- ```GET /people/1=1``` maps to ```SELECT * FROM people where 1=1``` and this returns the entire table.

##### The DAO Pattern is the Known Pattern

| <img src="../images/dao_pattern.jpeg"> |
| :---: |
| [DAO Pattern](https://www.tutorialspoint.com/design_pattern/data_access_object_pattern.htm) |

"Data Access Object Pattern or DAO pattern is used to separate low level data accessing API or operations from high level business services." (https://www.tutorialspoint.com/design_pattern/data_access_object_pattern.htm)


- Some DAO benefit is __encapsulation.__ Encapsulating the data prevents 
    - Having to change calling code in multiple modules if the database schema changes.
    - Business application developers from understanding SQL specific details, e.g. VARCHAR().
    
- ```CSVDataTable``` and ```RDBDataTable``` are Data Access Objects, and we will use if web application project (HW2).

##### Pagination

"Most endpoints that returns a list of entities will need to have some sort of pagination.

Without pagination, a simple search could return millions or even billions of hits causing extraneous network traffic.

Paging requires an implied ordering. By default this may be the item’s unique identifier, but can be other ordered fields such as a created date.

_Offset Pagination_

This is the simplest form of paging. Limit/Offset became popular with apps using SQL databases which already have LIMIT and OFFSET as part of the SQL SELECT Syntax. Very little business logic is required to implement Limit/Offset paging.

Limit/Offset Paging would look like ```GET /items?limit=20&offset=100```. This query would return the 20 rows starting with the 100th row."(https://www.moesif.com/blog/technical/api-design/REST-API-Design-Filtering-Sorting-and-Pagination/)


- Not implementing pagination can cause:
    - Connection breaks/failures because of long response times and large amounts of data.
    - Client application, e.g. browser, to lock up or crash.
    - Server to hang or crash.

- Limit/Offset processing:
    - The server has a defined maximum limit.
    - The client MAY specific a limit.
    - If the client does not specify a limit or the limit is greater than the servers maximum limit, set the limit to the server's maximum limit. Otherwise, use the client's limit.
    
    
- The response data structure has the format:

```
{
    "data" : [ {...}. { ... }, ..., { ... } ],
    "links" : [
        { "next" : URL to next page },
        { "previous" : URL to previous page },
        { "current" : URL of current page }
    ]
}
```

- Example of processing ```/people?nameLast=Smith&fields=nameLast,nameFirst``` with server maximum limit = 10

```
{
    "data": [
        {
            "nameLast": "Smith",
            "nameFirst": ""
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Aleck"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Al"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Al"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Al"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Art"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bernie"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bill"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bill"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Billy"
        }
    ],
    "links": [
        {
            "current": "/people?nameLast=Smith&fields=nameLast,nameFirst&offset=0&limit=10"
        },
        {
            "next": "/people?nameLast=Smith&fields=nameLast,nameFirst&offset=10&limit=10"
        }
    ]
}
```

- Following the next link: ```127.0.0.1:5000/people?nameLast=Smith&fields=nameLast,nameFirst&offset=10&limit=10```

```
{
    "data": [
        {
            "nameLast": "Smith",
            "nameFirst": "Bill"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Billy"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Billy"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Blake"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bob"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bob"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bob"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bobby"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bob"
        },
        {
            "nameLast": "Smith",
            "nameFirst": "Bob"
        }
    ],
    "links": [
        {
            "current": "/people?nameLast=Smith&fields=nameLast,nameFirst&offset=10&limit=10"
        },
        {
            "next": "/people?nameLast=Smith&fields=nameLast,nameFirst&offset=20&limit=10"
        },
        {
            "previous": "/people?nameLast=Smith&fields=nameLast,nameFirst&offset=0&limit=10"
        }
    ]
}
```

#### Summary

- I have had about as much fun mapping URLs to SQL as I can have at one time.


- I will put [the code in GIT](https://github.com/donald-f-ferguson/W4111-f18/tree/master/Projects/Lahman2) and you can use/fix when we do HW2. You will need to connect to your ```CSVDataTable``` and ```RDBDataTavle.```


- Time to move on.

## Business Object/Logic Layer

### Concept

- What does the business logic layer do?
    - Data integrity that cannot be pushed into the database.
    - Complex business logic, e.g. purchase order validation.
    - Integrating multiple data sources into a single logical model.
    - Convert obscure or technical terms into business meaningful messages
        - Database columns often have weird names.
        - Convert ```Error Code: 1054. Unknown column 'iq' in 'field list'``` to "IQ is not a property of Batting."
    - etc.
    

- Example from [COMSE6156: Topics in SW Engineering $-$ Microservice and Cloud Applications](https://donald-f-ferguson.github.io/E6156f18/)

| <img src="../images/bo_example.jpeg"> |
| :---: |
| __Business Object Example__ |

- There are two tables, which may or may not be in same database:
    1. CustomerInfo
    1. AddressInfo
    
    
- Business object manages core customer information and links to one or more addresses, e.g.
    1. Home
    1. Work
    

- People are notoriously bad at entering addresses in a consistent way:
    - 530 w120th Street, NY NY
    - 530 west 120th , New York, NY
    - 530 w120 str, NYC
    
    
- Want to convert inconsistent entries of same actual address into canonical format. There are cloud callable APIs that perform this function.
    - Returns a single, canonical format.
    - Multiple suggestions to offer to user inputing data.

- SmartyStreets example

| <img src="../images/postman_address.jpeg"> |
| :---: |
| [SmartyStreets](https://smartystreets.com/) Lookup |

- REST request is

```
https://us-street.api.smartystreets.com/street-address?auth-id=xxx&auth-token=yyy&candidates=10&street=530%20w%20120%20st&city=new%20york&state=ny&zipcode=" -H "content-type: application/json
```

- Result is
```
[
    {
        "input_index": 0,
        "candidate_index": 0,
        "delivery_line_1": "530 W 120th St",
        "last_line": "New York NY 10027-6624",
        "delivery_point_barcode": "100276624994",
        "components": {
            "primary_number": "530",
            "street_predirection": "W",
            "street_name": "120th",
            "street_suffix": "St",
            "city_name": "New York",
            "state_abbreviation": "NY",
            "zipcode": "10027",
            "plus4_code": "6624",
            "delivery_point": "99",
            "delivery_point_check_digit": "4"
        },
        "metadata": {
            "record_type": "H",
            "zip_type": "Standard",
            "county_fips": "36061",
            "county_name": "New York",
            "carrier_route": "C091",
            "congressional_district": "10",
            "building_default_indicator": "Y",
            "rdi": "Commercial",
            "elot_sequence": "0168",
            "elot_sort": "D",
            "latitude": 40.80859,
            "longitude": -73.96158,
            "precision": "Zip9",
            "time_zone": "Eastern",
            "utc_offset": -5,
            "dst": true
        },
        "analysis": {
            "dpv_match_code": "D",
            "dpv_footnotes": "AAN1",
            "dpv_cmra": "N",
            "dpv_vacant": "N",
            "active": "N",
            "footnotes": "H#N#"
        }
    }
]
```

### Our Course's Web Application (and Microservice)

- This is not a web application development or software engineering course. We will keep the web application very, very simple.


- The basic structure will be
    - A route/path handler that defines URLs/routes and calls BOs.
    - BOs have very, very simple (if any) application logic.
    - BOs connect to one or more DAOs.
    
| <img src="../images/route_bo_do.jpeg" > |
| :---: |
| __Microservice Structure__ |

## End-User Interface

### Overview

- Reminder that this is not a web app, SW engineering or UI/UX class.


- We will do a very simple UI.


- We will use [Bootstrap](https://getbootstrap.com/) and a [pre-built theme](https://startbootstrap.com/template-overviews/small-business/).


- "Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery."


- "Bootstrap themes are packages of HTML, CSS and JavaScript code that provide styling, UI components and page layouts for you to use in a web project. In essence, they are pre-built website templates for you to adapt and build upon. They are built on top of Bootstrap and add to its feature set." (https://hackerthemes.com/what-are-bootstrap-themes/)
<br><br>


| <img src="../images/lahman_web_page1.jpeg"> |
| :---: |
| __UI Template__ |


- We will build a simple browser based UI using HTML, CSS, JavaScript, etc.


- We will start with a simple [Bootstrap](https://getbootstrap.com/) or [Material Design Lite](https://getmdl.io/) page template.


- Will customize the template.


- Implement a [Model-View-Controller](https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller) client using [AngularJS.](https://angularjs.org/)
<br><br>


| <img src="../images/angular_mvc.jpg" > |
| :---: |
| [AngularJS](https://www.matridtech.net/5-key-features-of-angularjs-that-make-it-the-best-for-web-development/) |


- Again, this is not a user interface/user experience class. I will provide most of the UI along with an explanation.

### Code Walk-Through

| <img src="../images/lahman_ui_code.jpg"> |
| :---: |
| __UI Code Structure__ |

- See: https://github.com/donald-f-ferguson/W4111-f18/tree/master/Projects/Lahman2/static/lahman. Specifically,
    - index.html
    - controller.js

## Web Application Homework (Preview)

| <img src="../images/webapp.jpeg"> |
| :---: |
| __Application Structure__ |

- You are implementing a simeple web application for the Lahman 2017 baseball datanase. The _Data Access Layer_ builds on the simple Data Access Objects that are part of HW1.


- We will develop, starting with templates and examples from me,
    - REST route handler.
    - Simple business logic layer.
    - Simple web based UI.
    
    
- But you can now see why I asked you to do the CSVDataTable and RDBDataTable with support for basic functions, e.g.
    - Template queries.
    - Primary keys
    
    
- __But,__
    - __We need some cool new SQL functions to really have an interesting application.__
    - __The data is kind of icky and needs to be cleaned.__
    
    
- So, let's do some database stuff.

## New Database Concepts $-$ Keys

### Relational Model $-$ Keys

- "_Data integrity_ is the maintenance of, and the assurance of the accuracy and consistency of, data over its entire life-cycle, and is a critical aspect to the design, implementation and usage of any system which stores, processes, or retrieves data." (https://en.wikipedia.org/wiki/Data_integrity)


- _Relational (integrity) constraints_ are central to the value of relational databases.
    - The database designer _declares (defines)_ integrity constraints.
    - The database management system _rejects_ any _create, update_ or _delete_ operation that would result in a constraint violation.


- _Key(s)_ is a core  _(integrity) constraint_ enforcing _data integrity._ 
    - A _super key_ is a combination of columns with the property that now two rows have the same values for the fields of a super key.
    - A _candidate key_ is a minimal _super key_, that is removing a column from the key definition means that the key no longer uniquely identifies a row.,
    - The _primary key_ is a candidate key subjectively chosen as the "best key" for uniquely identifying the tuples.
    
    
- You will some times here the term _functionally determines._
    - Assume we have a relation $R(a,b,c,d,e)$.
    - If $(a,b)$ is a key $k$, then
    - The we can say that $k(a,b)$ _functionally determines_ $(c,d,e).$
    - Given values $(x,y)$ for $(a,b)$ we can functionally return $(c,d,e).$ The function is
    
    $\pi$<sub>$c,d,e$</sub>$(\sigma$<sub>$(a=x)\land(b=y)$</sub>$(R))$


- Consider the following snapshot of the CS courses table

<img src="../images/L4_courses.jpeg">

<br>
- The underlying relation $C$ has the following fields
    - callNumber
    - courseTitle
    - courseNumber
    - courseSection
    - term
    - year
    - instructor
    - days
    - time
    
    
- Two candidate keys are
    - _(callNumber)_
    - _(courseNumber, courseSection, year, semester)_

- The relational model sometimes use "bar" to specify a relations key, e.g.<br><br>
Course(callNumber, <span style="text-decoration: overline">courseNumber, courseSection, semester, year,</span> instructure, days, times)

### Keys and Indexes $-$ SQL

- Relational database engines support additional key semantics and also support _indexes._


- MySQL supports the following keys/index:
    - PRIMARY KEY: Key is unique and NOT NULL. $\Rightarrow$ Indexed
    - UNIQUE: Key is unique or NULL. Multiple rows may have NULL for a value. $\Rightarrow$ Indexed
    - INDEX: Non-unique but indexed for performance.
    - FULLTEXT (INDEX) -- Will cover later.
    
    
- In database engines, keys represent/implement
    - Integrity constraints. We will cover the concept in detail in future lectures.
    - Performance optimization.
    
    
- For now, just think:
    - Every table should have a primary key.
    - Put indexes on other columns or sets of columns that will frequently be in WHERE clauses.
    
    
- For a table with 1,000,000 rows:
    - SELECT without a index examines O(1,000,000) rows.
    - SELECT with an index examines O(log(1,000,000)) = 20 rows.

- RDQ query engine compute a "cost" in terms of CPU and disk input/output for relational operations. This is critical to _query optimization,_ which we will cover later. For comparison of the benefits of indexes, the cost of ```select * from people where playerid='willite01'```
    - Without index = 4,071.
    - With index = 1
    
    
- We will cover query optimization and cost in Module II: Database Management System Implementation/Architecture.

## Web Application $-$ Keys and Indexes

### Overview

- Which keys and indexes should you create? Depends on the usage patterns.


- Web application and most projects define _use cases_ and/or _user stories._ 
    - [Use case:](https://en.wikipedia.org/wiki/Use_case) "In software and systems engineering, a use case is a list of actions or event steps typically defining the interactions between a role (known in the Unified Modeling Language as an actor) and a system to achieve a goal." 
    - [User story:](https://en.wikipedia.org/wiki/User_story) "In software development and product management, a user story is an informal, natural language description of one or more features of a software system. User stories are often written from the perspective of an end user or user of a system."
    
    
- Identifying and prioritizing use cases/user stories is a complex part of [software product management](https://en.wikipedia.org/wiki/Software_product_management).


- I will provide some user stories, and you can also define your own. The user stories yield common queries, which in turn identify indexes and keys to optimize performance.


- Where am I going to get the initial user stories? People used to/still do collect [baseball cards](https://en.wikipedia.org/wiki/Baseball_card).


| <img src="../images/baseball_cards.jpeg"> |
| :---: |
| __Baseball Card Collections__ |


- Why did kids collect baseball cards?
    - We did not have XBox, PlayStation, etc.
    - There was no Internet or web.
    - We had five television channels.
    - Baseball cards came with bubblegum.


- We had a lot of time. I used catch bees in the summer and falling leaves in the fall, for example.


- [Topps Company, Inc.:](https://en.wikipedia.org/wiki/Topps)
    - "The Topps Company, Inc., manufactures chewing gum, candy, and collectibles. Based in New York City,[1] Topps is best known as a leading producer of basketball cards, American football cards, baseball cards, hockey cards, association football cards, and other sports and non-sports themed trading cards. It is currently the only baseball card manufacturer with a contract with Major League Baseball."
    - 2006 revenue was \$317 million.

### Some User Stories

- __U01:__ As a _baseball fan,_ I want to be able to find a player's biographical information if I know the last name or last name and first name.


- __U02:__ As a _baseball fan,_ I want to be able find a player's statistics for all years if I know the playerID.


- These will be very common scenarios. We need to optimize performance.

### SQL Queries, Keys and Indexes

#### U01: SQL Queries, Keys and Indexes

- U01 query is:

In [4]:
%sql select * from people where nameLast='Williams' and nameFirst='Ted'

1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

In [5]:
%sql select * from people where nameLast='Williams'

80 rows affected.

[('williac01', '1917', '3', '18', 'USA', 'NJ', 'Montclair', '1999', '9', '16', 'USA', 'FL', 'Fort Myers', 'Ace', 'Williams', 'Robert Fulton', '174', '74', 'R', 'L', '1940-07-15', '1946-04-22', 'willa103', 'williac01'),
 ('willial02', '1914', '5', '11', 'USA', 'AL', 'Valhermosa Springs', '1969', '7', '19', 'USA', 'TX', 'Groves', 'Al', 'Williams', 'Almon Edward', '200', '75', 'R', 'R', '1937-04-19', '1938-09-04', 'willa101', 'willial02'),
 ('willial03', '1954', '5', '6', 'Nicaragua', 'Atlantico Sur', 'Pearl Lagoon', '', '', '', '', '', '', 'Albert', 'Williams', 'Albert Hamilton', '190', '76', 'R', 'R', '1980-05-07', '1984-09-26', 'willa001', 'willial03'),
 ('williar01', '1877', '8', '24', 'USA', 'MA', 'Somerville', '1941', '5', '16', 'USA', 'VA', 'Arlington', 'Art', 'Williams', 'Arthur Frank', '', '', 'L', 'R', '1902-05-07', '1902-09-01', 'willa104', 'williar01'),
 ('willibe01', '1948', '10', '8', 'USA', 'CA', 'Alameda', '', '', '', '', '', '', 'Bernie', 'Williams', 'Bernard', '175', '73', 'R', 'R', '1970-09-07', '1974-05-12', 'willb105', 'willibe01'),
 ('willibe02', '1968', '9', '13', 'P.R.', '', 'San Juan', '', '', '', '', '', '', 'Bernie', 'Williams', 'Bernabe', '180', '74', 'B', 'R', '1991-07-07', '2006-10-01', 'willb002', 'willibe02'),
 ('willibi01', '1938', '6', '15', 'USA', 'AL', 'Whistler', '', '', '', '', '', '', 'Billy', 'Williams', 'Billy Leo', '175', '73', 'L', 'R', '1959-08-06', '1976-10-02', 'willb104', 'willibi01'),
 ('willibi02', '1932', '6', '13', 'USA', 'SC', 'Newberry', '2013', '6', '11', 'USA', 'CA', 'Berkeley', 'Billy', 'Williams', 'William', '195', '75', 'L', 'R', '1969-08-15', '1969-08-20', 'willb102', 'willibi02'),
 ('willibo01', '1884', '4', '27', 'USA', 'OH', 'Monday', '1962', '8', '6', 'USA', 'OH', 'Nelsonville', 'Bob', 'Williams', 'Robert Elias', '190', '72', 'R', 'R', '1911-07-03', '1913-09-30', 'willb103', 'willibo01'),
 ('willibr01', '1969', '2', '15', 'USA', 'SC', 'Lancaster', '', '', '', '', '', '', 'Brian', 'Williams', "Brian O'Neal", '205', '75', 'R', 'R', '1991-09-16', '2000-07-05', 'willb001', 'willibr01'),
 ('willich01', '1947', '10', '11', 'USA', 'NY', 'Flushing', '2015', '1', '27', 'USA', 'FL', 'Port Orange', 'Charlie', 'Williams', 'Charles Prosek', '200', '74', 'R', 'R', '1971-04-23', '1978-09-11', 'willc101', 'willich01'),
 ('willicy01', '1887', '12', '21', 'USA', 'IN', 'Wadena', '1974', '4', '23', 'USA', 'WI', 'Eagle River', 'Cy', 'Williams', 'Fred', '180', '74', 'L', 'L', '1912-07-18', '1930-09-22', 'willc103', 'willicy01'),
 ('willida01', '1855', '10', '6', 'USA', 'KY', 'Ludlow', '1939', '10', '22', 'USA', 'KY', 'Covington', 'Dale', 'Williams', 'Elisha Alphonso', '175', '69', 'R', 'R', '1876-08-12', '1876-09-09', 'willd106', 'willida01'),
 ('willida02', '1881', '2', '7', 'USA', 'PA', 'Scranton', '1918', '4', '25', 'USA', 'AR', 'Hot Springs', 'Dave', 'Williams', 'David Owen', '167', '71', 'R', 'L', '1902-07-02', '1902-08-03', 'willd103', 'willida02'),
 ('willida03', '1927', '11', '2', 'USA', 'TX', 'Dallas', '2009', '8', '17', 'USA', 'TX', 'Farmers Branch', 'Davey', 'Williams', 'David Carlous', '160', '70', 'R', 'R', '1949-09-16', '1955-07-31', 'willd102', 'willida03'),
 ('willida05', '1958', '2', '28', 'USA', 'NY', 'Brooklyn', '', '', '', '', '', '', 'Dallas', 'Williams', 'Dallas McKinley', '165', '71', 'L', 'L', '1981-09-19', '1983-10-02', 'willd101', 'willida05'),
 ('willida06', '1963', '3', '20', 'USA', 'WV', 'Weirton', '', '', '', '', '', '', 'Dana', 'Williams', 'Dana Lamont', '170', '70', 'R', 'R', '1989-06-19', '1989-07-02', 'willd001', 'willida06'),
 ('willida07', '1979', '3', '12', 'USA', 'AK', 'Anchorage', '', '', '', '', '', '', 'David', 'Williams', 'David Aaron', '215', '75', 'L', 'L', '2001-06-06', '2007-09-24', 'willd002', 'willida07'),
 ('willide01', '1896', '12', '13', 'USA', 'OR', 'Portland', '1929', '3', '23', 'USA', 'CA', 'San Clemente', 'Denny', 'Williams', 'Evon Daniel', '150', '68', 'L', 'R', '1921-04-15', '1928-07-18', 'willd105', 'willide01'),
 ('willide02', '1916', '2', '5', 'USA', 'NC', 'Durham', '2000', '3', '19', 'USA', 'ND', 'Williston', 'Dewey', 'Williams', 'Dewey Edgar', '160', '72', 'R', 'R', '1944-06-28', '1948-09-26', 'willd109', 'willide02'),
 ('willidi01', '1910', '1', '19', 'USA', 'AR', 'Greenbrier', '1992', '4', '2', 'USA', 'AR', 'Searcy', 'Dib', 'Williams', 'Edwin Dibrell', '175', '71', 'R', 'R', '1930-04-27', '1935-09-29', 'willd107', 'willidi01'),
 ('willidi02', '1929', '5', '7', 'USA', 'MO', 'St. Louis', '2011', '7', '7', 'USA', 'NV', 'Las Vegas', 'Dick', 'Williams', 'Richard Hirschfeld', '190', '72', 'R', 'R', '1951-06-10', '1964-10-01', 'willd104', 'willidi02'),
 ('willido01', '1931', '9', '14', 'USA', 'VA', 'Floyd', '2011', '10', '16', 'USA', 'VA', 'Floyd', 'Don', 'Williams', 'Don Fred', '180', '74', 'R', 'R', '1958-09-12', '1962-08-23', 'willd108', 'willido01'),
 ('willido02', '1935', '9', '2', 'USA', 'CA', 'Los Angeles', '1991', '12', '20', 'USA', 'CA', 'La Jolla', 'Don', 'Williams', 'Donald Reid', '218', '77', 'R', 'R', '1963-08-04', '1963-08-17', 'willd110', 'willido02'),
 ('williea01', '1903', '1', '27', 'USA', 'TN', 'Cumberland Gap', '1958', '3', '10', 'USA', 'TN', 'Knoxville', 'Earl', 'Williams', 'Earl Baxter', '185', '72', 'R', 'R', '1928-05-27', '1928-06-02', 'wille102', 'williea01'),
 ('williea02', '1948', '7', '14', 'USA', 'NJ', 'Newark', '2013', '1', '28', 'USA', 'NJ', 'Somerset', 'Earl', 'Williams', 'Earl Craig', '215', '75', 'R', 'R', '1970-09-13', '1977-09-25', 'wille101', 'williea02'),
 ('willied01', '1964', '11', '1', 'USA', 'LA', 'Shreveport', '', '', '', '', '', '', 'Eddie', 'Williams', 'Edward Laquan', '175', '72', 'R', 'R', '1986-04-18', '1998-05-27', 'wille001', 'willied01'),
 ('willifr01', '1958', '2', '13', 'USA', 'WA', 'Seattle', '2009', '1', '9', 'CAN', 'BC', 'Victoria', 'Frank', 'Williams', 'Frank Lee', '180', '73', 'R', 'R', '1984-04-05', '1989-09-27', 'willf001', 'willifr01'),
 ('willige01', '1939', '10', '23', 'USA', 'MI', 'Detroit', '2009', '5', '14', 'USA', 'MI', 'Detroit', 'George', 'Williams', 'George', '165', '71', 'R', 'R', '1961-07-16', '1964-07-05', 'willg101', 'willige01'),
 ('willige02', '1966', '8', '10', 'USA', 'LA', 'New Orleans', '', '', '', '', '', '', 'Gerald', 'Williams', 'Gerald Floyd', '190', '74', 'R', 'R', '1992-09-15', '2005-10-02', 'willg001', 'willige02'),
 ('willige03', '1969', '4', '22', 'USA', 'WI', 'La Crosse', '', '', '', '', '', '', 'George', 'Williams', 'George Erik', '190', '70', 'B', 'R', '1995-07-14', '2000-09-13', 'willg002', 'willige03'),
 ('willigl01', '1977', '7', '18', 'Australia', 'New South Wales', 'Gosford', '', '', '', '', '', '', 'Glenn', 'Williams', 'Glenn David', '195', '74', 'B', 'R', '2005-06-07', '2005-06-28', 'willg003', 'willigl01'),
 ('willigu01', '1870', '', '', 'USA', 'NY', 'New York', '1890', '10', '14', 'USA', 'NY', 'New York', 'Gus', 'Williams', 'Augustine H.', '170', '71', '', '', '1890-04-18', '1890-04-22', 'willg102', 'willigu01'),
 ('willigu02', '1888', '5', '7', 'USA', 'NE', 'Omaha', '1964', '4', '16', 'USA', 'IL', 'Sterling', 'Gus', 'Williams', 'August Joseph', '185', '72', 'L', 'L', '1911-04-12', '1915-06-18', 'willg103', 'willigu02'),
 ('williha01', '1890', '6', '23', 'USA', 'NE', 'Omaha', '1963', '12', '21', 'USA', 'CA', 'Huntington Park', 'Harry', 'Williams', 'Harry Peter', '200', '73', 'R', 'R', '1913-08-07', '1914-06-30', 'willh103', 'williha01'),
 ('willija01', '1986', '5', '14', 'USA', 'OK', 'Tulsa', '', '', '', '', '', '', 'Jackson', 'Williams', 'Jackson Thomas', '200', '70', 'R', 'R', '2014-08-27', '2015-10-04', 'willj005', 'willija01'),
 ('willije01', '1972', '6', '6', 'Australia', 'Capital Territory', 'Canberra', '', '', '', '', '', '', 'Jeff', 'Williams', 'Jeffrey F.', '185', '72', 'R', 'L', '1999-09-12', '2002-09-28', 'willj002', 'willije02'),
 ('willije02', '1981', '12', '4', 'USA', 'HI', 'Honolulu', '', '', '', '', '', '', 'Jerome', 'Williams', 'Jerome Lee', '260', '75', 'R', 'R', '2003-04-26', '2016-09-26', 'willj003', 'willije01'),
 ('williji01', '1876', '12', '20', 'USA', 'MO', 'St. Louis', '1965', '1', '16', 'USA', 'FL', 'St. Petersburg', 'Jimmy', 'Williams', 'James Thomas', '175', '69', 'R', 'R', '1899-04-15', '1909-10-03', 'willj106', 'williji01'),
 ('williji03', '1943', '10', '4', 'USA', 'CA', 'Santa Maria', '', '', '', '', '', '', 'Jimy', 'Williams', 'James Francis', '170', '70', 'R', 'R', '1966-04-26', '1967-09-21', 'willj107', 'williji03'),
 ('williji04', '1947', '4', '29', 'USA', 'LA', 'Zachary', '', '', '', '', '', '', 'Jim', 'Williams', 'James Alfred', '190', '74', 'R', 'R', '1969-09-08', '1970-09-30', 'willj108', 'williji04'),
 ('williji99', '1847', '1', '4', 'USA', 'OH', 'Catawba', '1918', '10', '23', 'USA', 'NY', 'Westbury', 'Jimmy', 'Williams', 'James Andrew', '', '', '', '', '', '', 'willj801', 'williji99'),
 ('willijo02', '1889', '7', '16', 'USA', 'HI', 'Honolulu', '1963', '9', '8', 'USA', 'CA', 'Long Beach', 'Johnnie', 'Williams', 'John Brodie', '180', '72', 'R', 'R', '1914-04-21', '1914-08-19', 'willj101', 'willijo02'),
 ('willijo99', '1885', '4', '6', 'USA', 'TX', 'Seguin', '1951', '2', '25', 'USA', 'NY', 'New York', 'Smokey Joe', 'Williams', 'Joseph', '190', '76', 'R', 'R', '', '', '', 'willijo99'),
 ('willike01', '1890', '6', '28', 'USA', 'OR', 'Grants Pass', '1959', '1', '22', 'USA', 'OR', 'Grants Pass', 'Ken', 'Williams', 'Kenneth Roy', '170', '72', 'L', 'R', '1915-07-14', '1929-08-10', 'willk101', 'willike01'),
 ('willike02', '1964', '4', '6', 'USA', 'CA', 'Berkeley', '', '', '', '', '', '', 'Ken', 'Williams', 'Kenneth Royal', '187', '74', 'R', 'R', '1986-09-02', '1991-10-04', 'willk001', 'willike02'),
 ('willike03', '1972', '4', '21', 'USA', 'PA', 'Bedford', '', '', '', '', '', '', 'Keith', 'Williams', 'David Keith', '190', '72', 'R', 'R', '1996-06-07', '1996-06-23', 'willk002', 'willike03'),
 ('willile01', '1893', '3', '9', 'USA', 'MO', 'Aurora', '1959', '11', '4', 'USA', 'CA', 'Laguna Beach', 'Lefty', 'Williams', 'Claude Preston', '160', '69', 'R', 'L', '1913-09-17', '1920-09-25', 'willl104', 'willile01'),
 ('willile03', '1905', '12', '2', 'USA', 'GA', 'Macon', '1984', '11', '20', 'USA', 'GA', 'Atlanta', 'Leon', 'Williams', 'Leon Theo', '154', '70', 'L', 'L', '1926-05-26', '1926-09-06', 'willl101', 'willile03'),
 ('willima01', '1893', '2', '21', 'USA', 'NC', 'Faison', '1935', '2', '22', 'USA', 'AZ', 'Tucson', 'Marsh', 'Williams', 'Marshall McDiarmid', '180', '72', 'R', 'R', '1916-07-07', '1916-08-25', 'willm104', 'willima01'),
 ('willima02', '1953', '7', '28', 'USA', 'NY', 'Elmira', '', '', '', '', '', '', 'Mark', 'Williams', 'Mark Westley', '180', '72', 'L', 'L', '1977-05-20', '1977-05-22', 'willm105', 'willima02'),
 ('willima03', '1959', '7', '25', 'USA', 'TX', 'Houston', '', '', '', '', '', '', 'Matt', 'Williams', 'Matthew Evan', '200', '73', 'R', 'R', '1983-08-02', '1985-10-05', 'willm001', 'willima03'),
 ('willima04', '1965', '11', '28', 'USA', 'CA', 'Bishop', '', '', '', '', '', '', 'Matt', 'Williams', 'Matthew Derrick', '205', '74', 'R', 'R', '1987-04-11', '2003-05-31', 'willm003', 'willima04'),
 ('willima06', '1971', '4', '12', 'USA', 'VA', 'Virginia Beach', '', '', '', '', '', '', 'Matt', 'Williams', 'Matt Taylor', '185', '72', 'B', 'L', '2000-04-05', '2000-04-29', 'willm006', 'willima09'),
 ('willima07', '1991', '8', '21', 'USA', 'RI', 'Pawtucket', '', '', '', '', '', '', 'Mason', 'Williams', 'Mason', '195', '73', 'L', 'R', '2015-06-12', '2017-06-25', 'willm007', 'willima10'),
 ('willimi02', '1964', '11', '17', 'USA', 'CA', 'Santa Ana', '', '', '', '', '', '', 'Mitch', 'Williams', 'Mitchell Steven', '180', '75', 'L', 'L', '1986-04-09', '1997-05-10', 'willm002', 'willimi02'),
 ('willimi03', '1968', '7', '29', 'USA', 'VA', 'Radford', '', '', '', '', '', '', 'Mike', 'Williams', 'Michael Darren', '190', '74', 'R', 'R', '1992-06-30', '2003-09-28', 'willm005', 'willimi03'),
 ('willimu01', '1892', '7', '31', 'USA', 'AR', 'Ozark', '1962', '3', '30', 'USA', 'AR', 'Fayetteville', 'Mutt', 'Williams', 'David Carter', '195', '75', 'R', 'R', '1913-10-04', '1914-10-01', 'willm103', 'willimu01'),
 ('willini01', '1993', '9', '8', 'USA', 'TX', 'Galveston', '', '', '', '', '', '', 'Nick', 'Williams', 'Billy Nicholas', '195', '75', 'L', 'L', '2017-06-30', '2017-10-01', 'willn001', 'willini01'),
 ('williot01', '1877', '11', '2', 'USA', 'NJ', 'Newark', '1937', '3', '19', 'USA', 'NE', 'Omaha', 'Otto', 'Williams', 'Otto George', '165', '68', 'R', 'R', '1902-10-05', '1906-06-09', 'willo101', 'williot01'),
 ('willipa01', '1913', '7', '17', 'USA', 'MS', 'Meridian', '1993', '11', '2', 'USA', 'MS', 'Meridian', 'Papa', 'Williams', 'Fred', '200', '73', 'R', 'R', '1945-04-19', '1945-07-08', 'willp102', 'willipa01'),
 ('willipo01', '1874', '5', '19', 'USA', 'ME', 'Bowdoinham', '1959', '8', '4', 'USA', 'ME', 'Topsham', 'Pop', 'Williams', 'Walter Merrill', '190', '71', 'R', 'L', '1898-09-14', '1903-09-15', 'willp101', 'willipo01'),
 ('willira01', '1975', '9', '18', 'USA', 'TX', 'Harlingen', '', '', '', '', '', '', 'Randy', 'Williams', 'Randall Duane', '200', '75', 'L', 'L', '2004-09-11', '2011-08-05', 'willr003', 'willira01'),
 ('willire01', '1960', '8', '29', 'USA', 'TN', 'Memphis', '', '', '', '', '', '', 'Reggie', 'Williams', 'Reginald Dewayne', '185', '71', 'R', 'R', '1985-09-02', '1988-10-02', 'willr001', 'willire01'),
 ('willire02', '1966', '5', '5', 'USA', 'SC', 'Laurens', '', '', '', '', '', '', 'Reggie', 'Williams', 'Reginald Bernard', '180', '73', 'B', 'R', '1992-09-08', '1999-07-25', 'willr002', 'willire02'),
 ('williri01', '1882', '1', '31', 'USA', 'IL', 'Carthage', '1933', '7', '23', 'USA', 'IA', 'Keokuk', 'Rip', 'Williams', 'Alva Mitchell', '187', '71', 'R', 'R', '1911-04-12', '1918-06-09', 'willr104', 'williri01'),
 ('williri02', '1893', '12', '18', 'USA', 'CA', 'Santa Cruz', '1966', '4', '24', 'USA', 'AZ', 'Cottonwood', 'Rinaldo', 'Williams', 'Rinaldo Louis', '', '', 'L', 'R', '1914-10-08', '1914-10-10', 'willr103', 'williri02'),
 ('williri03', '1952', '11', '9', 'USA', 'CA', 'Merced', '', '', '', '', '', '', 'Rick', 'Williams', 'Richard Allen', '180', '73', 'R', 'R', '1978-06-12', '1979-09-26', 'willr101', 'williri03'),
 ('willish01', '1971', '3', '10', 'USA', 'CA', 'Fresno', '', '', '', '', '', '', 'Shad', 'Williams', 'Shad Clayton', '185', '72', 'R', 'R', '1996-05-18', '1997-07-22', 'wills001', 'willish01'),
 ('willist01', '1892', '1', '31', 'USA', 'MT', 'Cascade', '1979', '6', '29', 'USA', 'MN', 'Deer River', 'Steamboat', 'Williams', 'Rees Gephardt', '170', '71', 'L', 'R', '1914-07-12', '1916-10-01', 'wills101', 'willist01'),
 ('willist02', '1936', '9', '14', 'USA', 'NH', 'Enfield', '', '', '', '', '', '', 'Stan', 'Williams', 'Stanley Wilson', '230', '77', 'R', 'R', '1958-05-17', '1972-08-01', 'wills102', 'willist02'),
 ('willita01', '1991', '7', '21', 'USA', 'WA', 'Vancouver', '', '', '', '', '', '', 'Taylor', 'Williams', 'Taylor Grant', '195', '71', 'B', 'R', '2017-09-06', '2017-10-01', 'willt003', 'willita01'),
 ('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01'),
 ('willito01', '1870', '8', '19', 'USA', 'OH', 'Minersville', '1940', '7', '27', 'USA', 'OH', 'Columbus', 'Tom', 'Williams', 'Thomas C.', '', '', '', '', '1892-05-01', '1893-09-14', 'willt101', 'willito01'),
 ('willito02', '1971', '2', '13', 'USA', 'NY', 'Syracuse', '', '', '', '', '', '', 'Todd', 'Williams', 'Todd Michael', '185', '75', 'R', 'R', '1995-04-29', '2007-06-15', 'willt001', 'willito02'),
 ('willitr01', '1992', '4', '25', 'USA', 'CA', 'San Diego', '', '', '', '', '', '', 'Trevor', 'Williams', 'Trevor Anthony', '230', '75', 'R', 'R', '2016-09-07', '2017-09-26', 'willt002', 'willitr01'),
 ('williwa01', '', '', '', 'USA', 'PA', 'Philadelphia', '', '', '', '', '', '', 'Wash', 'Williams', 'Washington J.', '180', '71', '', '', '1884-08-05', '1885-06-08', 'willw102', 'williwa01'),
 ('williwa02', '1943', '12', '19', 'USA', 'TX', 'Brownwood', '2016', '1', '23', 'USA', 'TX', 'Abilene', 'Walt', 'Williams', 'Walter Allen', '165', '66', 'R', 'R', '1964-04-21', '1975-09-22', 'willw103', 'williwa02'),
 ('williwo01', '1912', '8', '21', 'USA', 'VA', 'Pamplin', '1995', '2', '24', 'USA', 'VA', 'Appomattox', 'Woody', 'Williams', 'Woodrow Wilson', '175', '71', 'R', 'R', '1938-09-05', '1945-09-30', 'willw101', 'williwo01'),
 ('williwo02', '1966', '8', '19', 'USA', 'TX', 'Houston', '', '', '', '', '', '', 'Woody', 'Williams', 'Gregory Scott', '180', '72', 'R', 'R', '1993-05-14', '2007-09-22', 'willw001', 'williwo02')]

- These two user stories and SQL queries indicate that I need indexes on
    - nameLast
    - nameLast and nameFirst
    
    
- Let's look at the table's definition.

In [7]:
%sql describe  people

24 rows affected.

[('playerID', 'varchar(12)', 'NO', 'PRI', None, ''),
 ('birthYear', 'char(4)', 'YES', '', None, ''),
 ('birthMonth', 'char(2)', 'YES', '', None, ''),
 ('birthDay', 'char(2)', 'YES', '', None, ''),
 ('birthCountry', 'varchar(64)', 'YES', '', None, ''),
 ('birthState', 'varchar(32)', 'YES', '', None, ''),
 ('birthCity', 'varchar(64)', 'YES', '', None, ''),
 ('deathYear', 'char(4)', 'YES', '', None, ''),
 ('deathMonth', 'char(2)', 'YES', '', None, ''),
 ('deathDay', 'char(2)', 'YES', '', None, ''),
 ('deathCountry', 'varchar(64)', 'YES', '', None, ''),
 ('deathState', 'varchar(32)', 'YES', '', None, ''),
 ('deathCity', 'varchar(64)', 'YES', '', None, ''),
 ('nameFirst', 'varchar(64)', 'NO', '', None, ''),
 ('nameLast', 'varchar(64)', 'NO', '', None, ''),
 ('nameGiven', 'varchar(128)', 'YES', '', None, ''),
 ('weight', 'char(3)', 'YES', '', None, ''),
 ('height', 'char(3)', 'YES', '', None, ''),
 ('bats', 'char(1)', 'YES', '', None, ''),
 ('throws', 'char(1)', 'YES', '', None, ''),
 ('debut', 'varchar(16)', 'YES', '', None, ''),
 ('finalGame', 'varchar(16)', 'YES', '', None, ''),
 ('retroID', 'varchar(12)', 'YES', '', None, ''),
 ('bbrefID', 'varchar(12)', 'YES', '', None, '')]

- We need to add an index on ```nameLast``` and ```nameLast, nameFirst.```


- The combination of ```nameLast, nameFirst``` into a single key/index is called a __composite key/composite index.__


- "A composite key, in the context of relational databases, is a combination of two or more columns in a table that can be used to uniquely identify each row in the table. Uniqueness is only guaranteed when the columns are combined; when taken individually the columns do not guarantee uniqueness." (https://www.techopedia.com/definition/6572/composite-key)


- Since neither ```nameLast``` or ```nameLast, nameFirst``` is unique, these are indexes, not keys.

| <img src="../images/alter_table.jpg"> |
| :---: |
| __MySQL Workbench ALTER TABLE Tool__ |


- The Cost Optimizer estimates the cost of the query as:
    - 1.20 with an index.
    - 4059 without an index.
    
    
- Both are blindingly fast because the tables are tiny. Realistic tables are MUCH, MUCH bigger. We will also see cases where indexes are incredibly important even for such small tables.


- Execution Examples: We will cover details later.

| <img src="../images/L4_index_performance.jpeg"> |
| :---: |
| __Query Execution Plan/Cost__ |


- The underlying SQL DDL statement is

```
ALTER TABLE `lahman2017`.`people` 
ADD INDEX `names_idx` (`nameLast` ASC, `nameFirst` ASC);
```

- __Note:__
    1. The order matters.
    1. An index on ```(nameLast, nameFirst)``` is also an index on ```nameLast``` but is NOT an index on just ```nameFirst.```
    1. We will discuss in future lectures.

#### U02: SQL Queries, Keys and Indexes (Batting Statistics)

- We will focus on batting stats for now. We will add appearances, pitching, fielding, ... later.


- The U02 SQL query is

In [8]:
%sql select * from batting where playerID='willite01'

19 rows affected.

[('willite01', 'BOS', '1939', 1, 'AL', '149', '565', '131', '185', '44', '11', '31', '145', '2', '1', '107', '64', '', '2', '3', '', '10'),
 ('willite01', 'BOS', '1940', 1, 'AL', '144', '561', '134', '193', '43', '14', '23', '113', '4', '4', '96', '54', '', '3', '1', '', '13'),
 ('willite01', 'BOS', '1941', 1, 'AL', '143', '456', '135', '185', '33', '3', '37', '120', '2', '4', '147', '27', '', '3', '0', '', '10'),
 ('willite01', 'BOS', '1942', 1, 'AL', '150', '522', '141', '186', '34', '5', '36', '137', '3', '2', '145', '51', '', '4', '0', '', '12'),
 ('willite01', 'BOS', '1946', 1, 'AL', '150', '514', '142', '176', '37', '8', '38', '123', '0', '0', '156', '44', '', '2', '0', '', '12'),
 ('willite01', 'BOS', '1947', 1, 'AL', '156', '528', '125', '181', '40', '9', '32', '114', '0', '1', '162', '47', '', '2', '1', '', '10'),
 ('willite01', 'BOS', '1948', 1, 'AL', '137', '509', '124', '188', '44', '3', '25', '127', '4', '0', '126', '41', '', '3', '0', '', '10'),
 ('willite01', 'BOS', '1949', 1, 'AL', '155', '566', '150', '194', '39', '3', '43', '159', '1', '1', '162', '48', '', '2', '0', '', '22'),
 ('willite01', 'BOS', '1950', 1, 'AL', '89', '334', '82', '106', '24', '1', '28', '97', '3', '0', '82', '21', '', '0', '0', '', '12'),
 ('willite01', 'BOS', '1951', 1, 'AL', '148', '531', '109', '169', '28', '4', '30', '126', '1', '1', '144', '45', '', '0', '0', '', '10'),
 ('willite01', 'BOS', '1952', 1, 'AL', '6', '10', '2', '4', '0', '1', '1', '3', '0', '0', '2', '2', '', '0', '0', '', '0'),
 ('willite01', 'BOS', '1953', 1, 'AL', '37', '91', '17', '37', '6', '0', '13', '34', '0', '1', '19', '10', '', '0', '0', '', '1'),
 ('willite01', 'BOS', '1954', 1, 'AL', '117', '386', '93', '133', '23', '1', '29', '89', '0', '0', '136', '32', '', '1', '0', '3', '10'),
 ('willite01', 'BOS', '1955', 1, 'AL', '98', '320', '77', '114', '21', '3', '28', '83', '2', '0', '91', '24', '17', '2', '0', '4', '8'),
 ('willite01', 'BOS', '1956', 1, 'AL', '136', '400', '71', '138', '28', '2', '24', '82', '0', '0', '102', '39', '11', '1', '0', '0', '13'),
 ('willite01', 'BOS', '1957', 1, 'AL', '132', '420', '96', '163', '28', '1', '38', '87', '0', '1', '119', '43', '33', '5', '0', '2', '11'),
 ('willite01', 'BOS', '1958', 1, 'AL', '129', '411', '81', '135', '23', '2', '26', '85', '1', '0', '98', '49', '12', '4', '0', '4', '19'),
 ('willite01', 'BOS', '1959', 1, 'AL', '103', '272', '32', '69', '15', '0', '10', '43', '0', '0', '52', '27', '6', '2', '0', '5', '7'),
 ('willite01', 'BOS', '1960', 1, 'AL', '113', '310', '56', '98', '15', '0', '29', '72', '1', '1', '75', '41', '7', '3', '0', '2', '7')]

- I clearly need a key/index on playerID, and the key is clearly not unique. So, create an index.


- But what is the primary key for this table? Let's try and figure it out.

In [10]:
%sql select playerID, yearID, count(*) as count_of_rows from batting  \
    group by playerID, yearID order by count_of_rows desc limit 10;

10 rows affected.

[('huelsfr01', '1904', 5),
 ('chouife01', '1914', 5),
 ('dowseto01', '1892', 5),
 ('kimby01', '2007', 4),
 ('wheelha01', '1884', 4),
 ('donahpa01', '1910', 4),
 ('fernafr01', '1971', 4),
 ('martida01', '2000', 4),
 ('marshdo01', '1904', 4),
 ('hudliwi01', '1940', 4)]

- We will unpack this query in a minute, but it basically counts how many times each unique combination of ```(playerID, yearID)``` orders.


- Clearly, ```(playerID, yearID)``` is not unique.


- Let's add ```teamID``` and see what happens

In [14]:
%sql select playerID, yearID, teamID, count(*) as count_of_rows from batting  \
    group by playerID, yearID, teamID order by count_of_rows desc limit 10;

10 rows affected.

[('chouife01', '1914', 'BRF', 3),
 ('donahpa01', '1910', 'PHA', 2),
 ('wistete01', '1915', 'CHF', 2),
 ('baldwja01', '2005', 'BAL', 2),
 ('jennihu01', '1899', 'BRO', 2),
 ('robersk01', '1914', 'PTF', 2),
 ('spraged02', '2000', 'SDN', 2),
 ('leblawa01', '2014', 'LAA', 2),
 ('anderjo01', '1898', 'BRO', 2),
 ('behrmha01', '1947', 'BRO', 2)]

- OK, ```(playerID, yearID, teamID)``` is not a key. Let's add ```stint.```

In [15]:
%sql select playerID, yearID, teamID, stint, count(*) as count_of_rows from batting  \
    group by playerID, yearID, teamID, stint order by count_of_rows desc limit 10;

10 rows affected.

[('kravida01', '1960', 'PIT', 1, 1),
 ('billija01', '1968', 'LAN', 1, 1),
 ('collido01', '1977', 'ATL', 1, 1),
 ('almonbi01', '1988', 'PHI', 1, 1),
 ('conveji01', '1994', 'SEA', 1, 1),
 ('burrose01', '2005', 'SDN', 1, 1),
 ('dehlmhe01', '1873', 'BR2', 1, 1),
 ('danisty01', '2016', 'CHA', 1, 1),
 ('galvifr01', '2014', 'PHI', 1, 1),
 ('graniza01', '2017', 'MIN', 1, 1)]

- OK. That looks good. There are two mutually supporting techniques for extracting keys.
    - Probing the data.
    - Ask domain expert. You are new IT hire, you have to ask the banking expert in the bank.
    
    
- __Remember that the key applies to the data domain (all possible data), not just the data in the table.__

- U02 Summary:
    - Based on data analysis and speaking to the domain expert, we have a primary key of ```(playerID, yearID, teamID, stint).```
    - We also know we need to index the non-primary key -- ```playerID.```
    
    
- We will likely add additional ones or modifications when we get more user stories.


- Let's ALTER TABLE, but first see what is there.

In [16]:
%sql show columns from batting;

22 rows affected.

[('playerID', 'varchar(12)', 'NO', 'PRI', None, ''),
 ('teamID', 'varchar(8)', 'NO', 'PRI', None, ''),
 ('yearID', 'varchar(6)', 'NO', 'PRI', None, ''),
 ('stint', 'int(11)', 'NO', 'PRI', None, ''),
 ('lgID', 'text', 'YES', '', None, ''),
 ('G', 'text', 'YES', '', None, ''),
 ('AB', 'text', 'YES', '', None, ''),
 ('R', 'text', 'YES', '', None, ''),
 ('H', 'text', 'YES', '', None, ''),
 ('2B', 'text', 'YES', '', None, ''),
 ('3B', 'text', 'YES', '', None, ''),
 ('HR', 'text', 'YES', '', None, ''),
 ('RBI', 'text', 'YES', '', None, ''),
 ('SB', 'text', 'YES', '', None, ''),
 ('CS', 'text', 'YES', '', None, ''),
 ('BB', 'text', 'YES', '', None, ''),
 ('SO', 'text', 'YES', '', None, ''),
 ('IBB', 'text', 'YES', '', None, ''),
 ('HBP', 'text', 'YES', '', None, ''),
 ('SH', 'text', 'YES', '', None, ''),
 ('SF', 'text', 'YES', '', None, ''),
 ('GIDP', 'text', 'YES', '', None, '')]

- You can see that I already added the primary key.


- I know the key fields but do not know the order. For ```(playerID, teamID, yearID, stint)``` stint to also be an index on ```playerID,``` the field must be the 1st key component.

In [17]:
%sql show keys from batting;

4 rows affected.

[('batting', 0, 'PRIMARY', 1, 'playerID', 'A', 20387, None, None, '', 'BTREE', '', ''),
 ('batting', 0, 'PRIMARY', 2, 'teamID', 'A', 45249, None, None, '', 'BTREE', '', ''),
 ('batting', 0, 'PRIMARY', 3, 'yearID', 'A', 103749, None, None, '', 'BTREE', '', ''),
 ('batting', 0, 'PRIMARY', 4, 'stint', 'A', 103837, None, None, '', 'BTREE', '', '')]