<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>
<h1 style="display:none;">Test</h1>

# Introduction to Databases: More SQL (We are nearly done!)

## Initialize Notebook Runtime and Libraries

In [4]:
%load_ext sql
%sql mysql+pymysql://dbuser:dbuser@localhost/lahman2017
%sql select * from people where playerid='willite01'

import pymysql.cursors
import pandas as pd
import json

# The database server is running somewhere in the network.
# I must specify the IP address (HW server) and port number
# (connection that SW server is listening on)
# Also, I do not want to allow anyone to access the database
# and different people have different permissions. So, the
# client must log on.


# Connect to the database over the network. Use the connection
# to send commands to the DB.
cnx = pymysql.connect(host='localhost',
                             user='dbuser',
                             password='dbuser',
                             db='lahman2017',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

1 rows affected.

In [5]:
import json

In [4]:
%sql select * from people where playerid='willite01'

1 rows affected.

[('willite01', '1918', '8', '30', 'USA', 'CA', 'San Diego', '2002', '7', '5', 'USA', 'FL', 'Inverness', 'Ted', 'Williams', 'Theodore Samuel', '205', '75', 'L', 'R', '1939-04-20', '1960-09-28', 'willt103', 'willite01')]

In [1]:
def run_q(q, args, fetch=False):
    """
    # Helper method to centralize database queries and returning responses.
    :param q: SQL query string that MAY contain %s entries to be filled with args.
    :param args: Optional args to include with query submission to insert into %s
    :param fetch: If true, call and return fetchall(). Not all SQL statements return a value.
    :return: Query result or None
    """
    print("run_q: q= " + q, args)

    result  =   None
    cursor = cnx.cursor()
    cursor.execute(q, args)

    # Obtain query results if requested.
    if fetch:
        result = cursor.fetchall()

    cnx.commit()    # Commit operation, release active session and release locks.
    return result

## Lecture Overview

1. Questions and answers.
<br><br>
1. Discussion/Questions on HW 2
<br><br>
1. Sub-queries
<br><br>
1. Views
<br><br>
1. Triggers, Functions, Stored Procedures
<br><br>
1. Normalization and De-normalization

## Questions

### From Classroom 

### From Piazza

## Questions/Discussion about Homework 2

## Sub-Queries

### Introduction

<img src="../images/slides-108.jpg">
<img src="../images/slides-108.jpg">

- We saw this concept in "top ten greatest hitters." The sample output I showed from my CSV implementation in the last class was:

```
Ten greatest hitters are:
['willite01', 'Williams', 'Ted', 'willite01', 2654, 7706, 0.3444069556189982]
['gwynnto01', 'Gwynn', 'Tony', 'gwynnto01', 3141, 9288, 0.3381782945736434]
['musiast01', 'Musial', 'Stan', 'musiast01', 3630, 10972, 0.3308421436383522]
['boggswa01', 'Boggs', 'Wade', 'boggswa01', 3010, 9180, 0.32788671023965144]
['carewro01', 'Carew', 'Rod', 'carewro01', 3053, 9315, 0.32775093934514227]
['cabremi01', 'Cabrera', 'Miguel', 'cabremi01', 2519, 7853, 0.3207691328154845]
['puckeki01', 'Puckett', 'Kirby', 'puckeki01', 2304, 7244, 0.3180563224737714]
['guerrvl01', 'Guerrero', 'Vladimir', 'guerrvl01', 2590, 8155, 0.31759656652360513]
['clemero01', 'Clemente', 'Roberto', 'clemero01', 3000, 9454, 0.31732599957689867]
['heltoto01', 'Helton', 'Todd', 'heltoto01', 2519, 7962, 0.31637779452398895]
```

- This is not exactly the answer I requested.


- The last few lines in my implementation was:

```
eligible_players = get_players_after_year(appearances, people, '1960')

result = compute_all_avgs(eligible_players, batting, people)
result = sorted(result, key=itemgetter(6), reverse=True)

end_time = time.time()
result = result[0:10]

print("Ten greatest hitters are:")
for r in result:
    print(r)
```

- The code should have been something like ...

```
eligible_players = get_players_after_year(appearances, people, '1960')

result = compute_all_avgs(eligible_players, batting, people)
result = sorted(result, key=itemgetter(6), reverse=True)

end_time = time.time()
result = result[0:10]

print("Ten greatest hitters are:")
for r in result:

    # Perform a sub-query to "look up" the names.
    names = people.find_by_template({'playerID': r[0]}, ['nameLast', 'nameFirst'])
    names = names.rows[1]
    r = [names['nameLast'], names['nameFirst']] + r
    print(r)
```

- With output

```
Ten greatest hitters are:
['Williams', 'Ted', 'willite01', 'Williams', 'Ted', 'willite01', 2654, 7706, 0.3444069556189982]
['Gwynn', 'Tony', 'gwynnto01', 'Gwynn', 'Tony', 'gwynnto01', 3141, 9288, 0.3381782945736434]
['Musial', 'Stan', 'musiast01', 'Musial', 'Stan', 'musiast01', 3630, 10972, 0.3308421436383522]
['Boggs', 'Wade', 'boggswa01', 'Boggs', 'Wade', 'boggswa01', 3010, 9180, 0.32788671023965144]
['Carew', 'Rod', 'carewro01', 'Carew', 'Rod', 'carewro01', 3053, 9315, 0.32775093934514227]
['Cabrera', 'Miguel', 'cabremi01', 'Cabrera', 'Miguel', 'cabremi01', 2519, 7853, 0.3207691328154845]
['Puckett', 'Kirby', 'puckeki01', 'Puckett', 'Kirby', 'puckeki01', 2304, 7244, 0.3180563224737714]
['Guerrero', 'Vladimir', 'guerrvl01', 'Guerrero', 'Vladimir', 'guerrvl01', 2590, 8155, 0.31759656652360513]
['Clemente', 'Roberto', 'clemero01', 'Clemente', 'Roberto', 'clemero01', 3000, 9454, 0.31732599957689867]
['Helton', 'Todd', 'heltoto01', 'Helton', 'Todd', 'heltoto01', 2519, 7962, 0.31637779452398895]
```

- You can see the _sub-query_ to get the names in the field list of the original query I provided.

In [ ]:
"SELECT \
        Batting.playerID, \
        (SELECT People.nameFirst FROM People WHERE \
                People.playerID=Batting.playerID) as first_name, \
        (SELECT People.nameLast FROM People WHERE \
            People.playerID=Batting.playerID) as last_name, \
        sum(Batting.h)/sum(batting.ab) as career_average, \
        sum(Batting.h) as career_hits, \
        sum(Batting.ab) as career_at_bats,\
        min(Batting.yearID) as first_year, \
        max(Batting.yearID) as last_year \
        FROM \
        Batting \
        GROUP BY \
        playerId \
        HAVING \
        career_at_bats > 200 AND last_year >= 1960 \
        ORDER BY \
        career_average DESC \
        LIMIT 10;"

### Examples

- The only way to learn is doing some examples.

#### GET /api/roster?teamID=BOS&yearID=2004

- The initial stab at a query would be

In [3]:
%sql select playerID, g_all as all_games, \
    GS as games_started from appearances \
    where teamID='BOS' and yearID='2004'

50 rows affected.

[('adamste01', '19', '0'),
 ('alvarab01', '1', '1'),
 ('anderji02', '5', '0'),
 ('arroybr01', '32', '29'),
 ('astacpe01', '5', '1'),
 ('bellhma01', '138', '132'),
 ('brownja04', '4', '0'),
 ('burksel01', '11', '8'),
 ('cabreor01', '58', '58'),
 ('castifr01', '2', '0'),
 ('crespce01', '52', '16'),
 ('damonjo01', '150', '146'),
 ('daubabr01', '30', '19'),
 ('dinarle01', '22', '0'),
 ('dominan01', '7', '1'),
 ('embreal01', '71', '0'),
 ('foulkke01', '72', '0'),
 ('garcino01', '38', '38'),
 ('gutieri01', '21', '8'),
 ('hyzduad01', '17', '0'),
 ('jonesbo04', '3', '0'),
 ('kaplega01', '136', '73'),
 ('kimby01', '7', '3'),
 ('leskacu01', '32', '0'),
 ('lowede01', '33', '33'),
 ('malasma01', '19', '0'),
 ('martian01', '11', '0'),
 ('martipe02', '33', '33'),
 ('martisa01', '3', '0'),
 ('mccarda01', '91', '31'),
 ('mendora01', '27', '0'),
 ('mientdo01', '49', '27'),
 ('millake01', '150', '140'),
 ('mirabdo01', '59', '42'),
 ('muellbi02', '110', '108'),
 ('myersmi01', '25', '0'),
 ('nelsojo01', '3', '0'),
 ('nixontr01', '48', '37'),
 ('ortizda01', '150', '145'),
 ('ramirma02', '152', '150'),
 ('reesepo01', '96', '74'),
 ('roberda07', '45', '19'),
 ('schilcu01', '32', '32'),
 ('seibeph01', '2', '0'),
 ('snydeea01', '1', '1'),
 ('timlimi01', '76', '0'),
 ('varitja01', '137', '122'),
 ('wakefti01', '32', '30'),
 ('willisc01', '28', '0'),
 ('youklke01', '72', '54')]

- A better answer would be

In [4]:
%sql select \
    playerID, \
    (select nameLast from people where \
         people.playerID = appearances.playerID) as nameLast, \
    (select nameFirst from people where \
         people.playerID = appearances.playerID) as nameFirst, \
    g_all as all_games, GS as games_started from appearances where teamID='BOS' and yearID='2004'

50 rows affected.

[('adamste01', 'Adams', 'Terry', '19', '0'),
 ('alvarab01', 'Alvarez', 'Abe', '1', '1'),
 ('anderji02', 'Anderson', 'Jimmy', '5', '0'),
 ('arroybr01', 'Arroyo', 'Bronson', '32', '29'),
 ('astacpe01', 'Astacio', 'Pedro', '5', '1'),
 ('bellhma01', 'Bellhorn', 'Mark', '138', '132'),
 ('brownja04', 'Brown', 'Jamie', '4', '0'),
 ('burksel01', 'Burks', 'Ellis', '11', '8'),
 ('cabreor01', 'Cabrera', 'Orlando', '58', '58'),
 ('castifr01', 'Castillo', 'Frank', '2', '0'),
 ('crespce01', 'Crespo', 'Cesar', '52', '16'),
 ('damonjo01', 'Damon', 'Johnny', '150', '146'),
 ('daubabr01', 'Daubach', 'Brian', '30', '19'),
 ('dinarle01', 'DiNardo', 'Lenny', '22', '0'),
 ('dominan01', 'Dominique', 'Andy', '7', '1'),
 ('embreal01', 'Embree', 'Alan', '71', '0'),
 ('foulkke01', 'Foulke', 'Keith', '72', '0'),
 ('garcino01', 'Garciaparra', 'Nomar', '38', '38'),
 ('gutieri01', 'Gutierrez', 'Ricky', '21', '8'),
 ('hyzduad01', 'Hyzdu', 'Adam', '17', '0'),
 ('jonesbo04', 'Jones', 'Bobby', '3', '0'),
 ('kaplega01', 'Kapler', 'Gabe', '136', '73'),
 ('kimby01', 'Kim', 'Byung-Hyun', '7', '3'),
 ('leskacu01', 'Leskanic', 'Curt', '32', '0'),
 ('lowede01', 'Lowe', 'Derek', '33', '33'),
 ('malasma01', 'Malaska', 'Mark', '19', '0'),
 ('martian01', 'Martinez', 'Anastacio', '11', '0'),
 ('martipe02', 'Martinez', 'Pedro', '33', '33'),
 ('martisa01', 'Martinez', 'Sandy', '3', '0'),
 ('mccarda01', 'McCarty', 'Dave', '91', '31'),
 ('mendora01', 'Mendoza', 'Ramiro', '27', '0'),
 ('mientdo01', 'Mientkiewicz', 'Doug', '49', '27'),
 ('millake01', 'Millar', 'Kevin', '150', '140'),
 ('mirabdo01', 'Mirabelli', 'Doug', '59', '42'),
 ('muellbi02', 'Mueller', 'Bill', '110', '108'),
 ('myersmi01', 'Myers', 'Mike', '25', '0'),
 ('nelsojo01', 'Nelson', 'Joe', '3', '0'),
 ('nixontr01', 'Nixon', 'Trot', '48', '37'),
 ('ortizda01', 'Ortiz', 'David', '150', '145'),
 ('ramirma02', 'Ramirez', 'Manny', '152', '150'),
 ('reesepo01', 'Reese', 'Pokey', '96', '74'),
 ('roberda07', 'Roberts', 'Dave', '45', '19'),
 ('schilcu01', 'Schilling', 'Curt', '32', '32'),
 ('seibeph01', 'Seibel', 'Phil', '2', '0'),
 ('snydeea01', 'Snyder', 'Earl', '1', '1'),
 ('timlimi01', 'Timlin', 'Mike', '76', '0'),
 ('varitja01', 'Varitek', 'Jason', '137', '122'),
 ('wakefti01', 'Wakefield', 'Tim', '32', '30'),
 ('willisc01', 'Williamson', 'Scott', '28', '0'),
 ('youklke01', 'Youkilis', 'Kevin', '72', '54')]

- And yes, before you ask, you could have used a JOIN

In [7]:
%sql select \
    people.playerID, nameLast as nameLast, nameFirst as nameFirst, \
    g_all as all_games, GS as games_started \
    from people join appearances on people.playerID=appearances.playerID \
    where teamID='BOS' and yearID='2004'

50 rows affected.

[('adamste01', 'Adams', 'Terry', '19', '0'),
 ('alvarab01', 'Alvarez', 'Abe', '1', '1'),
 ('anderji02', 'Anderson', 'Jimmy', '5', '0'),
 ('arroybr01', 'Arroyo', 'Bronson', '32', '29'),
 ('astacpe01', 'Astacio', 'Pedro', '5', '1'),
 ('bellhma01', 'Bellhorn', 'Mark', '138', '132'),
 ('brownja04', 'Brown', 'Jamie', '4', '0'),
 ('burksel01', 'Burks', 'Ellis', '11', '8'),
 ('cabreor01', 'Cabrera', 'Orlando', '58', '58'),
 ('castifr01', 'Castillo', 'Frank', '2', '0'),
 ('crespce01', 'Crespo', 'Cesar', '52', '16'),
 ('damonjo01', 'Damon', 'Johnny', '150', '146'),
 ('daubabr01', 'Daubach', 'Brian', '30', '19'),
 ('dinarle01', 'DiNardo', 'Lenny', '22', '0'),
 ('dominan01', 'Dominique', 'Andy', '7', '1'),
 ('embreal01', 'Embree', 'Alan', '71', '0'),
 ('foulkke01', 'Foulke', 'Keith', '72', '0'),
 ('garcino01', 'Garciaparra', 'Nomar', '38', '38'),
 ('gutieri01', 'Gutierrez', 'Ricky', '21', '8'),
 ('hyzduad01', 'Hyzdu', 'Adam', '17', '0'),
 ('jonesbo04', 'Jones', 'Bobby', '3', '0'),
 ('kaplega01', 'Kapler', 'Gabe', '136', '73'),
 ('kimby01', 'Kim', 'Byung-Hyun', '7', '3'),
 ('leskacu01', 'Leskanic', 'Curt', '32', '0'),
 ('lowede01', 'Lowe', 'Derek', '33', '33'),
 ('malasma01', 'Malaska', 'Mark', '19', '0'),
 ('martian01', 'Martinez', 'Anastacio', '11', '0'),
 ('martipe02', 'Martinez', 'Pedro', '33', '33'),
 ('martisa01', 'Martinez', 'Sandy', '3', '0'),
 ('mccarda01', 'McCarty', 'Dave', '91', '31'),
 ('mendora01', 'Mendoza', 'Ramiro', '27', '0'),
 ('mientdo01', 'Mientkiewicz', 'Doug', '49', '27'),
 ('millake01', 'Millar', 'Kevin', '150', '140'),
 ('mirabdo01', 'Mirabelli', 'Doug', '59', '42'),
 ('muellbi02', 'Mueller', 'Bill', '110', '108'),
 ('myersmi01', 'Myers', 'Mike', '25', '0'),
 ('nelsojo01', 'Nelson', 'Joe', '3', '0'),
 ('nixontr01', 'Nixon', 'Trot', '48', '37'),
 ('ortizda01', 'Ortiz', 'David', '150', '145'),
 ('ramirma02', 'Ramirez', 'Manny', '152', '150'),
 ('reesepo01', 'Reese', 'Pokey', '96', '74'),
 ('roberda07', 'Roberts', 'Dave', '45', '19'),
 ('schilcu01', 'Schilling', 'Curt', '32', '32'),
 ('seibeph01', 'Seibel', 'Phil', '2', '0'),
 ('snydeea01', 'Snyder', 'Earl', '1', '1'),
 ('timlimi01', 'Timlin', 'Mike', '76', '0'),
 ('varitja01', 'Varitek', 'Jason', '137', '122'),
 ('wakefti01', 'Wakefield', 'Tim', '32', '30'),
 ('willisc01', 'Williamson', 'Scott', '28', '0'),
 ('youklke01', 'Youkilis', 'Kevin', '72', '54')]

- There are often many, many queries that produce the same result.


- Sometimes the query compiler analyzes and produces the same or a similar plan.


- Sometimes you have to play around with the various options.

| <img src="../images/slides-110.jpg"> |
| :---: |
| __Subquery vs Join Execution__ |

#### Get All Hall of Fame Players who Ever Played for Boston

- This is the table definition for HallOfFame

```
CREATE TABLE `HallOfFame` (
  `playerID` text,
  `yearid` text,
  `votedBy` text,
  `ballots` text,
  `needed` text,
  `votes` text,
  `inducted` text,
  `category` text,
  `needed_note` text
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
```

- You can examime the readme associated with Lahman 2017 to understand the fields:

```
2.6  HallOfFame table

playerID       Player ID code
yearID         Year of ballot
votedBy        Method by which player was voted upon
ballots        Total ballots cast in that year
needed         Number of votes needed for selection in that year
votes          Total votes received
inducted       Whether player was inducted by that vote or not (Y or N)
category       Category in which candidate was honored
needed_note    Explanation of qualifiers for special elections
```

- So that following query returns playerIDs of people inducted (elected to) the Hall of Fame.

In [8]:
%sql select * from HallOfFame where inducted='Y' limit 10

10 rows affected.

[('cobbty01', '1936', 'BBWAA', '226', '170', '222', 'Y', 'Player', ''),
 ('ruthba01', '1936', 'BBWAA', '226', '170', '215', 'Y', 'Player', ''),
 ('wagneho01', '1936', 'BBWAA', '226', '170', '215', 'Y', 'Player', ''),
 ('mathech01', '1936', 'BBWAA', '226', '170', '205', 'Y', 'Player', ''),
 ('johnswa01', '1936', 'BBWAA', '226', '170', '189', 'Y', 'Player', ''),
 ('lajoina01', '1937', 'BBWAA', '201', '151', '168', 'Y', 'Player', ''),
 ('speaktr01', '1937', 'BBWAA', '201', '151', '165', 'Y', 'Player', ''),
 ('youngcy01', '1937', 'BBWAA', '201', '151', '153', 'Y', 'Player', ''),
 ('bulkemo99', '1937', 'Centennial', '', '', '', 'Y', 'Pioneer/Executive', ''),
 ('johnsba99', '1937', 'Centennial', '', '', '', 'Y', 'Pioneer/Executive', '')]

- A query to determine all of the players who every appeared at least once for BOS is:

In [10]:
%sql select distinct playerid from appearances where teamID='BOS' limit 10

10 rows affected.

[('bevilbe01',),
 ('colliji01',),
 ('crigelo01',),
 ('cuppyni01',),
 ('dowdto01',),
 ('ferriho01',),
 ('foremfr01',),
 ('freembu01',),
 ('gleasha01',),
 ('hemphch01',)]

- A query to determine people who played at least once for BOS and who are in the Hall of Fame could be:

In [11]:
%sql select distinct playerid from appearances where teamID='BOS' \
    and EXISTS (select * from HallOfFame where \
                halloffame.playerid=appearances.playerid and inducted='Y')

36 rows affected.

[('colliji01',),
 ('youngcy01',),
 ('burkeje01',),
 ('speaktr01',),
 ('chesbja01',),
 ('hoopeha01',),
 ('ruthba01',),
 ('pennohe01',),
 ('hoytwa01',),
 ('ruffire01',),
 ('ferreri01',),
 ('grovele01',),
 ('cronijo01',),
 ('foxxji01',),
 ('manushe01',),
 ('doerrbo01',),
 ('willite01',),
 ('simmoal01',),
 ('boudrlo01',),
 ('kellge01',),
 ('yastrca01',),
 ('willidi02',),
 ('fiskca01',),
 ('aparilu01',),
 ('cepedor01',),
 ('maricju01',),
 ('riceji01',),
 ('jenkife01',),
 ('eckerde01',),
 ('perezto01',),
 ('boggswa01',),
 ('seaveto01',),
 ('dawsoan01',),
 ('martipe02',),
 ('henderi01',),
 ('smoltjo01',)]

- This query took about 13 seconds on my Mac.


- If I were going to do this frequently, I would add an index on ```HallOfFame.playerID```

```
ALTER TABLE `lahman2017`.`HallOfFame` 
    CHANGE COLUMN `playerID` `playerID` VARCHAR(12) NULL DEFAULT NULL ,
    ADD INDEX `pid_index` (`playerID` ASC);
```

- This reduces the execution time to 0.02 seconds, for a speedup of about 500x.


- Pulling the complete query together.

In [17]:
%sql select distinct playerid, \
    (select nameLast from people where 
         people.playerid = appearances.playerid) as nameLast, \
    (select nameFirst from people where 
         people.playerid = appearances.playerid) as nameFirst, \
    (select yearID from HallOfFame where 
         HallOfFame.playerID = appearances.playerid and \
        inducted = 'Y') as inducted_year \
    from appearances where teamID='BOS' \
    and EXISTS (select * from HallOfFame where halloffame.playerid=appearances.playerid and inducted='Y') \
    order by inducted_year asc;

36 rows affected.

[('ruthba01', 'Ruth', 'Babe', '1936'),
 ('speaktr01', 'Speaker', 'Tris', '1937'),
 ('youngcy01', 'Young', 'Cy', '1937'),
 ('colliji01', 'Collins', 'Jimmy', '1945'),
 ('burkeje01', 'Burkett', 'Jesse', '1946'),
 ('chesbja01', 'Chesbro', 'Jack', '1946'),
 ('grovele01', 'Grove', 'Lefty', '1947'),
 ('pennohe01', 'Pennock', 'Herb', '1948'),
 ('foxxji01', 'Foxx', 'Jimmie', '1951'),
 ('simmoal01', 'Simmons', 'Al', '1953'),
 ('cronijo01', 'Cronin', 'Joe', '1956'),
 ('manushe01', 'Manush', 'Heinie', '1964'),
 ('willite01', 'Williams', 'Ted', '1966'),
 ('ruffire01', 'Ruffing', 'Red', '1967'),
 ('hoytwa01', 'Hoyt', 'Waite', '1969'),
 ('boudrlo01', 'Boudreau', 'Lou', '1970'),
 ('hoopeha01', 'Hooper', 'Harry', '1971'),
 ('kellge01', 'Kell', 'George', '1983'),
 ('maricju01', 'Marichal', 'Juan', '1983'),
 ('aparilu01', 'Aparicio', 'Luis', '1984'),
 ('ferreri01', 'Ferrell', 'Rick', '1984'),
 ('doerrbo01', 'Doerr', 'Bobby', '1986'),
 ('yastrca01', 'Yastrzemski', 'Carl', '1989'),
 ('jenkife01', 'Jenkins', 'Fergie', '1991'),
 ('seaveto01', 'Seaver', 'Tom', '1992'),
 ('cepedor01', 'Cepeda', 'Orlando', '1999'),
 ('fiskca01', 'Fisk', 'Carlton', '2000'),
 ('perezto01', 'Perez', 'Tony', '2000'),
 ('eckerde01', 'Eckersley', 'Dennis', '2004'),
 ('boggswa01', 'Boggs', 'Wade', '2005'),
 ('willidi02', 'Williams', 'Dick', '2008'),
 ('henderi01', 'Henderson', 'Rickey', '2009'),
 ('riceji01', 'Rice', 'Jim', '2009'),
 ('dawsoan01', 'Dawson', 'Andre', '2010'),
 ('martipe02', 'Martinez', 'Pedro', '2015'),
 ('smoltjo01', 'Smoltz', 'John', '2015')]

## Some Additional Operators

- We have seen the common comparison operators $\gt, \ge, \lt, \le, =, $ and != for comparing columns and values in where clauses.


- There are some additional operators that are useful.
    - ```LIKE``` determines if a string matches a pattern.
    - ```EXISTS``` return ```true``` if the result of a query or sub-query is not NULL
    - ```IN``` returns true if a value is in a list of values.
    
<u>Examples:</u>

- People born is specific countries

In [18]:
%sql select playerID, nameLast, nameFirst, birthYear, birthCountry from people \
	where birthCountry in ('Afghanistan', 'Viet Nam', 'At Sea')

3 rows affected.

[('bronkje01', 'Bronkey', 'Jeff', '1965', 'Afghanistan'),
 ('graveda01', 'Graves', 'Danny', '1973', 'Viet Nam'),
 ('porraed01', 'Porray', 'Ed', '1888', 'At Sea')]

- People whose name matches a pattern

In [20]:
%sql select playerid, nameLast, nameFirst from people where \
    nameLast LIKE 'Willi%' and nameFirst LIKE 'T%'

5 rows affected.

[('willita01', 'Williams', 'Taylor'),
 ('willite01', 'Williams', 'Ted'),
 ('willito01', 'Williams', 'Tom'),
 ('willito02', 'Williams', 'Todd'),
 ('willitr01', 'Williams', 'Trevor')]

- Incorrect country names. I downloaded a list of ISO 3166-1 country names and codes.

In [23]:
%sql (select distinct birthCountry as badCountryName from people \
	where birthCountry not in (select name from useful_data.countries)) \
union \
(select distinct deathCountry as badCountryName from people \
	where deathCountry not in (select name from useful_data.countries))

12 rows affected.

[('USA',),
 ('D.R.',),
 ('Venezuela',),
 ('CAN',),
 ('P.R.',),
 ('Russia',),
 ('South Korea',),
 ('V.I.',),
 ('',),
 ('Taiwan',),
 ('At Sea',),
 ('North Korea',)]

## Views

### Overview

"In a database, a view is the result set of a stored query on the data, which the database users can query just as they would in a persistent database collection object. This pre-established query command is kept in the database dictionary. Unlike ordinary base tables in a relational database, a view does not form part of the physical schema: as a result set, it is a virtual table computed or collated dynamically from data in the database when access to that view is requested. Changes applied to the data in a relevant underlying table are reflected in the data shown in subsequent invocations of the view." ```https://en.wikipedia.org/wiki/View_(SQL)```

- There are several uses for views:
    - Provide a table that less sophisticated users can query without understanding complexity of JOIN, aggregates, etc.
    - Security:
        - Administrators define the view on tables that a general user cannot access.
        - General user can access the view, but not the base tables.
    - Change isolation: Developers can code against the views and not have to change code if base tables change.
    
<img src="../images/slides-111.jpg">
<img src="../images/slides-112.jpg">

### Examples

- The examples are "simple." Any SELECT statement can create a view.


- I want a resource ```/rosters``` that is queryable on ```teamID``` and ```yearID```

```
create view rosters as 
	select 
	people.playerID, nameLast, nameFirst, teamID, yearID
    from
    people join appearances
    on
    people.playerid = appearances.playerid
```

In [24]:
%sql select * from rosters where teamID='BOS' and yearid='2004'

50 rows affected.

[('adamste01', 'Adams', 'Terry', 'BOS', '2004'),
 ('alvarab01', 'Alvarez', 'Abe', 'BOS', '2004'),
 ('anderji02', 'Anderson', 'Jimmy', 'BOS', '2004'),
 ('arroybr01', 'Arroyo', 'Bronson', 'BOS', '2004'),
 ('astacpe01', 'Astacio', 'Pedro', 'BOS', '2004'),
 ('bellhma01', 'Bellhorn', 'Mark', 'BOS', '2004'),
 ('brownja04', 'Brown', 'Jamie', 'BOS', '2004'),
 ('burksel01', 'Burks', 'Ellis', 'BOS', '2004'),
 ('cabreor01', 'Cabrera', 'Orlando', 'BOS', '2004'),
 ('castifr01', 'Castillo', 'Frank', 'BOS', '2004'),
 ('crespce01', 'Crespo', 'Cesar', 'BOS', '2004'),
 ('damonjo01', 'Damon', 'Johnny', 'BOS', '2004'),
 ('daubabr01', 'Daubach', 'Brian', 'BOS', '2004'),
 ('dinarle01', 'DiNardo', 'Lenny', 'BOS', '2004'),
 ('dominan01', 'Dominique', 'Andy', 'BOS', '2004'),
 ('embreal01', 'Embree', 'Alan', 'BOS', '2004'),
 ('foulkke01', 'Foulke', 'Keith', 'BOS', '2004'),
 ('garcino01', 'Garciaparra', 'Nomar', 'BOS', '2004'),
 ('gutieri01', 'Gutierrez', 'Ricky', 'BOS', '2004'),
 ('hyzduad01', 'Hyzdu', 'Adam', 'BOS', '2004'),
 ('jonesbo04', 'Jones', 'Bobby', 'BOS', '2004'),
 ('kaplega01', 'Kapler', 'Gabe', 'BOS', '2004'),
 ('kimby01', 'Kim', 'Byung-Hyun', 'BOS', '2004'),
 ('leskacu01', 'Leskanic', 'Curt', 'BOS', '2004'),
 ('lowede01', 'Lowe', 'Derek', 'BOS', '2004'),
 ('malasma01', 'Malaska', 'Mark', 'BOS', '2004'),
 ('martian01', 'Martinez', 'Anastacio', 'BOS', '2004'),
 ('martipe02', 'Martinez', 'Pedro', 'BOS', '2004'),
 ('martisa01', 'Martinez', 'Sandy', 'BOS', '2004'),
 ('mccarda01', 'McCarty', 'Dave', 'BOS', '2004'),
 ('mendora01', 'Mendoza', 'Ramiro', 'BOS', '2004'),
 ('mientdo01', 'Mientkiewicz', 'Doug', 'BOS', '2004'),
 ('millake01', 'Millar', 'Kevin', 'BOS', '2004'),
 ('mirabdo01', 'Mirabelli', 'Doug', 'BOS', '2004'),
 ('muellbi02', 'Mueller', 'Bill', 'BOS', '2004'),
 ('myersmi01', 'Myers', 'Mike', 'BOS', '2004'),
 ('nelsojo01', 'Nelson', 'Joe', 'BOS', '2004'),
 ('nixontr01', 'Nixon', 'Trot', 'BOS', '2004'),
 ('ortizda01', 'Ortiz', 'David', 'BOS', '2004'),
 ('ramirma02', 'Ramirez', 'Manny', 'BOS', '2004'),
 ('reesepo01', 'Reese', 'Pokey', 'BOS', '2004'),
 ('roberda07', 'Roberts', 'Dave', 'BOS', '2004'),
 ('schilcu01', 'Schilling', 'Curt', 'BOS', '2004'),
 ('seibeph01', 'Seibel', 'Phil', 'BOS', '2004'),
 ('snydeea01', 'Snyder', 'Earl', 'BOS', '2004'),
 ('timlimi01', 'Timlin', 'Mike', 'BOS', '2004'),
 ('varitja01', 'Varitek', 'Jason', 'BOS', '2004'),
 ('wakefti01', 'Wakefield', 'Tim', 'BOS', '2004'),
 ('willisc01', 'Williamson', 'Scott', 'BOS', '2004'),
 ('youklke01', 'Youkilis', 'Kevin', 'BOS', '2004')]

- I want to simplify access to career batting statistics

```create view career_batting as select
	playerid,
    (select nameLast from people where people.playerid=batting.playerid) as nameLast,
    (select nameFirst from people where people.playerid=batting.playerid) as nameFirst,
    sum(h) as total_hits, sum(ab) as total_abs, sum(hr) as total_hrs
from batting
	group by playerid```
    
- This view acts just like a table and can be part of a larger query that includes other tables.

In [30]:
%sql select *, total_hits/total_abs as average from career_batting \
    where exists (select * from appearances where career_batting.playerid = appearances.playerid and yearid >= '1960') \
    and total_abs >= 200 \
    order by \
    total_hits/total_abs desc \
    limit 10

10 rows affected.

[('willite01', 'Williams', 'Ted', 2654.0, 7706.0, 521.0, 0.3444069556189982),
 ('gwynnto01', 'Gwynn', 'Tony', 3141.0, 9288.0, 135.0, 0.3381782945736434),
 ('musiast01', 'Musial', 'Stan', 3630.0, 10972.0, 475.0, 0.3308421436383522),
 ('boggswa01', 'Boggs', 'Wade', 3010.0, 9180.0, 118.0, 0.32788671023965144),
 ('carewro01', 'Carew', 'Rod', 3053.0, 9315.0, 92.0, 0.32775093934514227),
 ('puckeki01', 'Puckett', 'Kirby', 2304.0, 7244.0, 207.0, 0.3180563224737714),
 ('guerrvl01', 'Guerrero', 'Vladimir', 2590.0, 8155.0, 449.0, 0.31759656652360513),
 ('clemero01', 'Clemente', 'Roberto', 3000.0, 9454.0, 240.0, 0.31732599957689867),
 ('cabremi01', 'Cabrera', 'Miguel', 2636.0, 8322.0, 462.0, 0.31675078106224464),
 ('heltoto01', 'Helton', 'Todd', 2519.0, 7962.0, 369.0, 0.31637779452398895)]

## User Functions

### Overview

| <img src="../images/slides-109-procs.jpg"> |
| :---: |
| __Stored Procedures__ |

"A stored procedure (... ...) is a subroutine available to applications that access a relational database management system (RDBMS). Such procedures are stored in the database data dictionary." (https://en.wikipedia.org/wiki/Stored_procedure)

- That was a little unclear. Basically, a __stored procedure__ or __user function__ is a piece of code that executes in the database.


- There is a standard for the language [SQL/PSM](https://en.wikipedia.org/wiki/SQL/PSM) but,
    - Many databases support other languages.
    - Even if the engine supports the standard, there are inconsistencies and extensions.
    
    
| <img src="../images/stored_procedure_function.jpeg"> |
| :---: |
| [Stored Procedures and Functions](https://www.quora.com/What-difference-between-stored-procedures-and-functions-in-MySQL)|
    
- OK, that was really confusing even for you.


- In a nutshell,
    - Procedures change tables and rows.
    - Functions compute and return values that can be included in SELECT, INSERT, UPDATE, DELETE, ... statements.
    
    
- The easiest way to understand, is as always, practice and examples.

### User Function Examples

#### Generate IDs

- The ```Lahman2017.People``` has the interesting ```playerID,``` e.g. ```willite01.```


- Our UNIs have a similar format, e.g. ```dff9.```


- We can push computing these values into the database to ensure consistent, correct implementation and not rely on several application programs implementing correctly.


- Let's consider a table for ```person``` in a university. (I do not want to mess too much with the Lahman database).

```
CREATE TABLE `person` (
  `uni` varchar(32) NOT NULL,
  `last_name` varchar(45) NOT NULL,
  `first_name` varchar(45) NOT NULL,
  `middle_name` varchar(45) DEFAULT NULL,
  `email` varchar(45) GENERATED ALWAYS AS (concat(`uni`,'@columbia.edu')) STORED,
  PRIMARY KEY (`uni`),
  UNIQUE KEY `email_UNIQUE` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- We will create a function that generate a UNI for a new person.

```
CREATE DEFINER=`root`@`localhost` FUNCTION `generate_univ2`(last_name VARCHAR(32), 
	first_name VARCHAR(32), middle_name varchar(32)) RETURNS varchar(12) CHARSET utf8
BEGIN

	# You have to/should dcelare variables before using
	DECLARE		fn_prefix				CHAR(2);
    DECLARE		ln_prefix				CHAR(2);
    declare			mn_prefix			char(1);
    DECLARE		prefix			CHAR(7);
    DECLARE		uniCount		INT;
    DECLARE		newUni		VARCHAR(12);
    DECLARE		pattern		varchar(8);
    
    # UNI will be first three characters from last_name +
    # first two characters from first name + a number.
    # The number will be one more than the number of existing
    # UNIs with the same first five characters. So, our query will
    # look for strings like "FERDO%"
    SET ln_prefix 		=		UPPER(SUBSTR(last_name, 1, 2));
    SET fn_prefix		=		UPPER(SUBSTR(first_name, 1, 2));
    if middle_name is not null then
		SET mn_prefix 		= 		UPPER(SUBSTR(middle_name, 1, 1));
	else
		set mn_prefix = "";
	end if;
        
    SET prefix	=		CONCAT(fn_prefix, mn_prefix, ln_prefix);
    SET pattern = 	concat(prefix, "%");
    
    SET uniCount = 0;
    
    # Count the number of matching UNIs.
    SELECT COUNT(uni) INTO uniCount FROM person WHERE uni LIKE pattern;
	
	# New UNI is prefix + (count + 1)
	SET newUni = CONCAT(prefix, uniCount+1);

RETURN  newUni;
END
```

- Let's look at the data in the table.

In [31]:
%sql select * from university.person

6 rows affected.

[('ab1', 'a', 'b', 'c', 'ab1@columbia.edu'),
 ('doffe1', 'Ferguson', 'Donald', 'Franncis', 'doffe1@columbia.edu'),
 ('doffe2', 'Ferguson', 'Donald', 'Frank', 'doffe2@columbia.edu'),
 ('dogmo1', 'Dog', 'Mouse', None, 'dogmo1@columbia.edu'),
 ('ferdo1', 'Ferguson', 'Donald', None, 'ferdo1@columbia.edu'),
 ('smijo1', 'Smith', 'John', 'fred', 'smijo1@columbia.edu')]

- We can use the function to generate a new UNI when we want to insert.

In [36]:
%sql select university.generate_univ2("Ferguson", "Donald", "Foo")

1 rows affected.

[('DOFFE3',)]

- You can use on operations like INSERT or UPDATE.

In [37]:
%sql insert into university.person \
    (uni, last_name, first_name, middle_name) \
    values(university.generate_univ2("Ferguson", "Donald", "Frodo"), 
           "Ferguson", "Donald", "Frodo")

1 rows affected.

[]

In [39]:
%sql select * from university.person

7 rows affected.

[('ab1', 'a', 'b', 'c', 'ab1@columbia.edu'),
 ('doffe1', 'Ferguson', 'Donald', 'Franncis', 'doffe1@columbia.edu'),
 ('doffe2', 'Ferguson', 'Donald', 'Frank', 'doffe2@columbia.edu'),
 ('doffe3', 'Ferguson', 'Donald', 'Frodo', 'doffe3@columbia.edu'),
 ('dogmo1', 'Dog', 'Mouse', None, 'dogmo1@columbia.edu'),
 ('ferdo1', 'Ferguson', 'Donald', None, 'ferdo1@columbia.edu'),
 ('smijo1', 'Smith', 'John', 'fred', 'smijo1@columbia.edu')]

- There is a more integrated way to do this using a trigger, which we will examine in a little while.

#### Simplify Computations

- The formula for slugging percentage is<br><br>
\begin{equation}
\frac{(batting.hits - batting.2B - batting.3B - batting.HR) + 2 \times batting.2B + 3 \times batting.3B + 4 \times batting.4B)}{batting.AB}
\end{equation}


- Having programmers submit the formula in all queries is awkward and error prone. We can simplify with a user function and view.


- The function is:

```
CREATE DEFINER=`root`@`localhost` FUNCTION `compute_obp`(h int, bb int, ab int) RETURNS double
BEGIN

	DECLARE result DOUBLE;
    
    IF ab IS NULL OR ab <= 0 THEN
		SET result = NULL;
    ELSE
		SET result = (h + bb)/ab;
		SET result = ROUND(result, 3);
	END IF;
    

RETURN result;
END


CREATE DEFINER=`root`@`localhost` FUNCTION `compute_slp`(h int, b2 int, b3 int, hr int, ab int) RETURNS double
BEGIN

	DECLARE result DOUBLE;
    
    IF ab IS NULL OR ab <= 0 THEN
		SET result = NULL;
    ELSE
		SET result = ((h -b2 -b3 -hr) + 2*b2 + 3*b3 + 4*hr)/ab;
		SET result = ROUND(result, 3);
	END IF;
    

RETURN result;
END
```

- And the view definition is:

```
create view batting_summary as 
	SELECT playerID, yearID, teamID, stint, h, `2b`, `3b`, HR, AB, 
    compute_obp(h, bb, ab) as OBP,
    compute_slp(h,`2b`,`3b`,hr,ab) as slugging_pct,
    bb as walks
	FROM lahman2017.Batting;
```

- And a little more fun with sub-queries, ...

In [43]:
%sql select \
    (select people.nameLast from people where batting_summary.playerid=people.playerid) as last_name, \
    (select people.nameFirst from people where batting_summary.playerid=people.playerid) as first_name, \
    batting_summary.* from batting_summary \
    where playerid in (select playerid from people where people.nameLast like "Willi%" \
                      and people.nameFirst like "T%")

32 rows affected.

[('Williams', 'Taylor', 'willita01', '2017', 'MIL', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Ted', 'willite01', '1939', 'BOS', '1', '185', '44', '11', '31', '565', 0.517, 0.609, '107'),
 ('Williams', 'Ted', 'willite01', '1940', 'BOS', '1', '193', '43', '14', '23', '561', 0.515, 0.594, '96'),
 ('Williams', 'Ted', 'willite01', '1941', 'BOS', '1', '185', '33', '3', '37', '456', 0.728, 0.735, '147'),
 ('Williams', 'Ted', 'willite01', '1942', 'BOS', '1', '186', '34', '5', '36', '522', 0.634, 0.648, '145'),
 ('Williams', 'Ted', 'willite01', '1946', 'BOS', '1', '176', '37', '8', '38', '514', 0.646, 0.667, '156'),
 ('Williams', 'Ted', 'willite01', '1947', 'BOS', '1', '181', '40', '9', '32', '528', 0.65, 0.634, '162'),
 ('Williams', 'Ted', 'willite01', '1948', 'BOS', '1', '188', '44', '3', '25', '509', 0.617, 0.615, '126'),
 ('Williams', 'Ted', 'willite01', '1949', 'BOS', '1', '194', '39', '3', '43', '566', 0.629, 0.65, '162'),
 ('Williams', 'Ted', 'willite01', '1950', 'BOS', '1', '106', '24', '1', '28', '334', 0.563, 0.647, '82'),
 ('Williams', 'Ted', 'willite01', '1951', 'BOS', '1', '169', '28', '4', '30', '531', 0.589, 0.556, '144'),
 ('Williams', 'Ted', 'willite01', '1952', 'BOS', '1', '4', '0', '1', '1', '10', 0.6, 0.9, '2'),
 ('Williams', 'Ted', 'willite01', '1953', 'BOS', '1', '37', '6', '0', '13', '91', 0.615, 0.901, '19'),
 ('Williams', 'Ted', 'willite01', '1954', 'BOS', '1', '133', '23', '1', '29', '386', 0.697, 0.635, '136'),
 ('Williams', 'Ted', 'willite01', '1955', 'BOS', '1', '114', '21', '3', '28', '320', 0.641, 0.703, '91'),
 ('Williams', 'Ted', 'willite01', '1956', 'BOS', '1', '138', '28', '2', '24', '400', 0.6, 0.605, '102'),
 ('Williams', 'Ted', 'willite01', '1957', 'BOS', '1', '163', '28', '1', '38', '420', 0.671, 0.731, '119'),
 ('Williams', 'Ted', 'willite01', '1958', 'BOS', '1', '135', '23', '2', '26', '411', 0.567, 0.584, '98'),
 ('Williams', 'Ted', 'willite01', '1959', 'BOS', '1', '69', '15', '0', '10', '272', 0.445, 0.419, '52'),
 ('Williams', 'Ted', 'willite01', '1960', 'BOS', '1', '98', '15', '0', '29', '310', 0.558, 0.645, '75'),
 ('Williams', 'Tom', 'willito01', '1892', 'CL4', '1', '1', '0', '0', '0', '10', 0.1, 0.1, '0'),
 ('Williams', 'Tom', 'willito01', '1893', 'CL4', '1', '5', '0', '0', '0', '18', 0.5, 0.278, '4'),
 ('Williams', 'Todd', 'willito02', '2004', 'BAL', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Todd', 'willito02', '2005', 'BAL', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Todd', 'willito02', '2006', 'BAL', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Todd', 'willito02', '2007', 'BAL', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Todd', 'willito02', '1998', 'CIN', '1', '0', '0', '0', '0', '2', 0.0, 0.0, '0'),
 ('Williams', 'Todd', 'willito02', '1995', 'LAN', '1', '1', '0', '0', '0', '2', 0.5, 0.5, '0'),
 ('Williams', 'Todd', 'willito02', '2001', 'NYA', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Todd', 'willito02', '1999', 'SEA', '1', '0', '0', '0', '0', '0', None, None, '0'),
 ('Williams', 'Trevor', 'willitr01', '2016', 'PIT', '1', '0', '0', '0', '0', '1', 2.0, 0.0, '2'),
 ('Williams', 'Trevor', 'willitr01', '2017', 'PIT', '1', '2', '0', '0', '0', '41', 0.098, 0.049, '2')]

## Entity-Relationship Modeling/Diagrams

__Note:__ We are going to take a short diversion into E-R modeling/modeling before we cover stored procedures. You will see why in a minute.


__Note:__ Ramakrishana and Gehrke sections 2.1-2.7 cover E-R modeling and conceptual design a different, more powerful and complex notation. I am going to use a simple notation, "Crow's Foot Notation." There is a [good online, introductory tutorial.](http://www.vertabelo.com/blog/technical-articles/crow-s-foot-notation)


### Overview

"An entity–relationship model (ER model for short) describes interrelated things of interest in a specific domain of knowledge. A basic ER model is composed of entity types (which classify the things of interest) and specifies relationships that can exist between instances of those entity types.


An entity–relationship diagram for an MMORPG using Chen's notation.
In software engineering, an ER model is commonly formed to represent things that a business needs to remember in order to perform business processes. Consequently, the ER model becomes an abstract data model, that defines a data or information structure which can be implemented in a database, typically a relational database." (https://en.wikipedia.org/wiki/Entity%E2%80%93relationship_model)

| <img src="../images/conceptuallogicalphysical.jpeg" width="90%"> |
| :---: |
| __Conceptual, Logical and Physical Design (Models)__ |

- There are some patterns or ways to think about entities:
    - A _Strong Entity_ is independent from other entities, and are often called parent entities, since they will often have weak entities that depend on them. They will also have a primary key, distinguishing each occurrence of the entity.
    - A _Weak Entity_ depend on some other entity type (for existence). They don't have (independent) primary keys, and have no meaning in the diagram without their parent entity.
    - An _Associative Entity_ relates the instances of several entity types. They also contain attributes specific to the association.

### Crow's Foot Notation Symbols

| <img src="../images/crowsfoot.jpeg"> |
| :---: |
| [Crow's Foot Notation](https://www.vivekmchawla.com/erd-crows-foot-relationship-symbols-cheat-sheet/) |

- If you reverse engineer a MySQL database, you get a Crow's Foot physical model. This is an example from the MySQL Sakila sample database.

| <img src="../images/sakila_full_database_schema_diagram.png" > |
| :---: |
| __Sakila Sample Database Diagram__ |

- In these diagrams, solid lines represent a Parent-Child (Weak Entity) relationship. For example, in the diagram,
    - _Inventory_ represents a file in the store's inventory.
    - _Film\_Text_ is some text describing the file.
    - If you delete the inventory item, the text also disappears (or has no meaning).

### Inheritance

- E-R associations/relationships represent terms like:
    - A purchase order __has__ line items.
    - A shopping card __contains__ purchase items.
    - A course section __has__ enrolled students.
    - A course __has__ a prereqs.
    - MySQL installation __depends on__ the operating system.
    
    
- There is another type of association, __IsA.__
    - A __Batter__ is a __Person__
    - A __Pitcher__ is a __Person__
    - And this may not be exclusive, e.g. someone can be a Batter and Pitcher.
    
    
- Implementing _IsA_ is a design pattern in E-R diagrams and databases.


- The [Vertabelo blog](http://www.vertabelo.com/blog/technical-articles/inheritance-in-a-relational-database) has a good overview of inheritance modeling and implementation.


- (From the blog) Subclass/inheritance Constraints are described along two dimensions:
    - Incomplete/Complete
        - In an incomplete specialization only some instances of the parent class are specialized (have unique attributes). Other instances of the parent class have only the common attributes.
        -n In a complete specialization, every instance of the parent class has one or more unique attributes that are not common to the parent class.
    - Disjoint/Overlapping
        - In a disjoint specialization, an object could be a member of only one specialized subclass.
        - In an overlapping specialization, an object could be a member of more than one specialized subclass.
        
        
- (From Vertabelo blog) There are three core patterns for modeling inheritance/subclassing in relational data models.

| <img src="../images/isa_1.jpeg"> |
| :---: |
| __Simple Model__ |

| <img src="../images/isa_2.jpeg"> |
| :---: |
| __One Table__ |

| <img src="../images/isa_3.jpeg"> |
| :---: |
| __Two Table__ |

| <img src="../images/isa_4.jpeg"> |
| :---: |
| __Three Table__ |

### An Implementation Example: E-R Diagram, Entity Types, Association Types, Inheritance

- We are going to switch from Baseball to a simpler, more familiar domain. The examples are easier because there are many fewer columns and subtleties.

| <img src="../images/university_er.jpeg" > |
| :---: |
| __Simple University/Course Model__ |

- In this model,
    - Student IsA Person and Faculty IsA Person. The inheritance relationship is in <span style="color:red;">red</span> for emphasis.
    - PersonSection is an Associative Entity, and so is Course. Course is also a Strong Entity for Section, which is a weak entity.

## Back to Stored Procedures

### Overview

- Consider the Course/Person data model. Creating a Student requires:
    - First creating a Person.
    - Then creating a Student.
    
    
- If a programmer makes a mistake, we may a problem.


- So, we are going to disallow operations on the tables directly and require use of stored procedures.


- But, FIRST, we are going to use a special kind of stored procedure known as a __trigger.__

### Data Model

- ```person_three``` (Person in a three table solution).

```
CREATE TABLE `person_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `last_name` varchar(45) NOT NULL DEFAULT '',
  `first_name` varchar(45) NOT NULL DEFAULT '',
  `type` varchar(1) NOT NULL DEFAULT '',
  `email` varchar(64) GENERATED ALWAYS AS (concat(`uni`,'@columbia.edu')) STORED,
  PRIMARY KEY (`uni`),
  KEY `p_lname_idx` (`last_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- ```student_three```

```
CREATE TABLE `student_three` (
  `uni` varchar(32) NOT NULL,
  `major` enum('CS','MATH','EE','IEOR','ECON','PHYS','CHEM') NOT NULL,
  `school` enum('CC','SEAS','BAR','GS','GSAS') NOT NULL,
  PRIMARY KEY (`uni`),
  CONSTRAINT `p_to_s` FOREIGN KEY (`uni`) REFERENCES `person_three` (`uni`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

- ```faculty_three```

```
CREATE TABLE `faculty_three` (
  `uni` varchar(32) NOT NULL DEFAULT '',
  `title` varchar(45) NOT NULL,
  `department` enum('CS','EE') NOT NULL,
  `hire_date` datetime NOT NULL,
  KEY `f_to_s` (`uni`),
  CONSTRAINT `f_to_s` FOREIGN KEY (`uni`) REFERENCES `person_three` (`uni`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

```

### Creating a UNI

- Well, we know how to create a user function to generate a UNI.

```
CREATE DEFINER=`root`@`localhost` FUNCTION `generate_uni`(last_name VARCHAR(32), 
	first_name VARCHAR(32)) RETURNS varchar(16) CHARSET utf8
BEGIN

	# You have to/should dcelare variables before using
	DECLARE		c1				CHAR(3);
    DECLARE		c2				CHAR(2);
    DECLARE		prefix			CHAR(6);
    DECLARE		uniCount		INT;
    DECLARE		newUni		VARCHAR(8);
    
    # UNI will be first three characters from last_name +
    # first two characters from first name + a number.
    # The number will be one more than the number of existing
    # UNIs with the same first five characters. So, our query will
    # look for strings like "FERDO%"
    SET c1 		=		UPPER(SUBSTR(last_name, 1, 3));
    SET c2		=		UPPER(SUBSTR(first_name, 1, 2));
    SET prefix	=		CONCAT(c1, c2, "%");
    
    SET uniCount = 0;
    
    # Count the number of matching UNIs.
    SELECT COUNT(uni) INTO uniCount FROM person WHERE uni LIKE prefix;
	
	# New UNI is prefix + (count + 1)
	SET newUni = CONCAT(c1, c2,uniCount+1);

RETURN  newUni;
END
```

- And using it is pretty simple.


- But, how do we make sure that it is always called?


- We can use a __trigger.__

| <img src="../images/slides-113-triggers.jpg" >|
| :---: |
| __Triggers__ |

"A database trigger is procedural code that is automatically executed in response to certain events on a particular table or view in a database. The trigger is mostly used for maintaining the integrity of the information on the database. For example, when a new record (representing a new worker) is added to the employees table, new records should also be created in the tables of the taxes, vacations and salaries. Triggers can also be used to log historical data, for example to keep track of employees' previous salaries." (https://en.wikipedia.org/wiki/Database_trigger)

- Two basic uses:
    - Implement _check constraints._
    - Side effects, e.g. logging, automatic update, ...
    
    
- Most RDBMs, and many other databases, support triggers. There is a lot of commonality, but also many differences and extensions.

| <img src="../images/slides-109-triggers.jpg"> |
| :---: |
| __Triggers_ |

- Trigger to automatically generate UNI

```
CREATE DEFINER=`root`@`localhost` TRIGGER `NewUniversity`.`person_three_BEFORE_INSERT`
	BEFORE INSERT ON `person_three` FOR EACH ROW
BEGIN

	DECLARE	new_uni		VARCHAR(16);
    
    SET new_uni = NewUniversity.generate_uni(New.last_name, New.first_name);
    SET New.uni = new_uni;
    
    IF New.type = NULL OR new.type = "" THEN
		SET New.type = 'U';
	END IF;

END
```

- Trigger to prevent updating a UNI.

```
CREATE DEFINER=`root`@`localhost` TRIGGER `NewUniversity`.`person_three_BEFORE_UPDATE` 
	BEFORE UPDATE ON `person_three` FOR EACH ROW
BEGIN


	IF NOT New.uni = Old.uni THEN
		SIGNAL SQLSTATE '45000'
			SET MESSAGE_TEXT = 'You cannot change a UNI';
	END IF;
    
END
```

- Some example executions

In [51]:
%sql select * from newuniversity.person_three

3 rows affected.

[('FERDO1', 'Ferguson', 'Donald', 'U', 'FERDO1@columbia.edu'),
 ('FERDO2', 'Ferguson', 'Donald', 'U', 'FERDO2@columbia.edu'),
 ('FERDO3', 'Ferguson', 'Donald', 'U', 'FERDO3@columbia.edu')]

In [52]:
%sql insert into newuniversity.person_three (last_name, first_name) \
    values('Ferguson', 'Donald')

1 rows affected.

[]

In [53]:
%sql select * from newuniversity.person_three

4 rows affected.

[('FERDO1', 'Ferguson', 'Donald', 'U', 'FERDO1@columbia.edu'),
 ('FERDO2', 'Ferguson', 'Donald', 'U', 'FERDO2@columbia.edu'),
 ('FERDO3', 'Ferguson', 'Donald', 'U', 'FERDO3@columbia.edu'),
 ('FERDO4', 'Ferguson', 'Donald', 'U', 'FERDO4@columbia.edu')]

In [6]:
q = "update newuniversity.person_three set uni='cat' where last_name='Ferguson'"
try:
    result = run_q(q, None, False)
    print("Update worked.")
except Exception as e:
    print("Got exception = ", e)

run_q: q= update newuniversity.person_three set uni='cat' where last_name='Ferguson' None
Got exception =  (1644, 'You cannot change a UNI')

### Implementing Inheritance

- We will use security to prevent non-administration users from
    - Direct use of Student or Faculty
    - INSERT, UPDATE or DELETE on Person
    
    
- Instead, non-administrators will:
    - Query through Person, StudentView or FacultyView
    - Use stored procedures to INSERT, UPDATE or DELETE the resources.
    - The admin makes sure that the stored procedure code is accurate and preserves integrity.
    
    
- Step 1 is to create the views:

```
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `safefaculty` AS
    SELECT 
        `person_three`.`uni` AS `uni`,
        `person_three`.`last_name` AS `last_name`,
        `person_three`.`first_name` AS `first_name`,
        `person_three`.`type` AS `type`,
        `person_three`.`email` AS `email`,
        `faculty_three`.`title` AS `title`,
        `faculty_three`.`department` AS `department`,
        `faculty_three`.`hire_date` AS `hire_date`
    FROM
        (`faculty_three`
        JOIN `person_three` ON ((`student_three`.`uni` = `faculty_three`.`uni`)))
        
CREATE 
    ALGORITHM = UNDEFINED 
    DEFINER = `root`@`localhost` 
    SQL SECURITY DEFINER
VIEW `safestudent` AS
    SELECT 
        `person_three`.`uni` AS `uni`,
        `person_three`.`last_name` AS `last_name`,
        `person_three`.`first_name` AS `first_name`,
        `person_three`.`type` AS `type`,
        `person_three`.`email` AS `email`,
        `student_three`.`major` AS `major`,
        `student_three`.`school` AS `school`
    FROM
        (`student_three`
        JOIN `person_three` ON ((`student_three`.`uni` = `person_three`.`uni`)))
```

- The __DEFINER =__ ````root`@`localhost```` __is critical!__
    - The view query executes with the authority of root.
    - Allowing a normal user to query a table to which they do not have direct access.

- Now restrict the access from an application that connects as "normal_user." This can be any user ID. There is nothing special about the name.


- Then grant access to query the base table and views.

```
REVOKE ALL ON *.* FROM 'normal_user';
GRANT SELECT ON NewUniversity.person_three TO 'normal_user';
GRANT SELECT ON NewUniversity.safefaculty TO 'normal_user';
GRANT SELECT ON NewUniversity.safestudent TO 'normal_user';
```

In [55]:
# Connect to the DB as non-root
# Connect to the database over the network. Use the connection
# to send commands to the DB.
cnx2 = pymysql.connect(host='localhost',
                             user='normal_user',
                             password='root',
                             db='newuniversity',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

def run_q2(q, fetch=False):
    try:
        cursor = cnx2.cursor()
        cursor.execute(q)
        if fetch:
            result = cursor.fetchall()
        else:
            result = None
        cnx2.commit()
        return result
    except Exception as e:
        print("Exception was ", e)
        return None

In [63]:
run_q2("select * from safefaculty", fetch=True)

()

In [64]:
run_q2("select * from faculty", fetch=True)

Exception was  (1142, "SELECT command denied to user 'normal_user'@'localhost' for table 'faculty'")

- Root authors a stored procedure to insert faculty. Delete, update, etc. on the tables are similar.

```
CREATE DEFINER=`root`@`localhost` PROCEDURE `insert_safe_faculty`(l_name varchar(32), f_name varchar(32), f_title varchar(32), f_department varchar(2), h_date datetime)
BEGIN

	DECLARE new_uni varchar(32);
    DECLARE f_type CHAR(2);
    
    set new_uni = generate_uni(l_name, f_name);
    set f_type = "F";
    
    if h_date is NULL THEN
		set h_date = now();
	END IF;
    
    INSERT into person_three (uni, last_name, first_name, type) values(new_uni, l_name, f_name, f_type);
    INSERT into faculty_three (uni, title, department, hire_date) values(new_uni, f_title, f_department, h_date);
    

END
```
- Now (connected as root) allow a normal user to create faculty.

```
grant execute on procedure newuniversity.insert_safe_faculty to 'normal_user'
```

In [65]:
q = "call NewUniversity.insert_safe_faculty('Duck', 'Donald', 'Professor', 'CS', now());"
run_q2(q, False)

In [66]:
run_q2("select * from safefaculty", fetch=True)

[{'department': 'CS',
  'email': 'DUCDO1@columbia.edu',
  'first_name': 'Donald',
  'hire_date': datetime.datetime(2018, 10, 3, 15, 43, 6),
  'last_name': 'Duck',
  'title': 'Professor',
  'type': 'F',
  'uni': 'DUCDO1'}]

In [68]:
run_q2("select * from person_three", fetch=True)

[{'email': 'DUCDO1@columbia.edu',
  'first_name': 'Donald',
  'last_name': 'Duck',
  'type': 'F',
  'uni': 'DUCDO1'}]

In [69]:
q = "call NewUniversity.insert_safe_faculty('Ferguson', 'Donald', 'Professor', 'CS', now());"
run_q2(q, False)

In [70]:
run_q2("select * from person_three", fetch=True)

[{'email': 'DUCDO1@columbia.edu',
  'first_name': 'Donald',
  'last_name': 'Duck',
  'type': 'F',
  'uni': 'DUCDO1'},
 {'email': 'FERDO1@columbia.edu',
  'first_name': 'Donald',
  'last_name': 'Ferguson',
  'type': 'F',
  'uni': 'FERDO1'}]

### Summary

- We saw three things in this section:
    - An introduction to functions, triggers and stored procedures.
    - Design patterns for implementing subclassing/inheritance using views and stored procedures.
    - A simple example of security, including the use of views.
    

- This was a lot to consume. We will improve knowledge via small problems and questions on exams.